:root {
    --base-color: #000000;
    --brand-color: #ffde15;
    --alert-color: #fc2e2e;
    --base-font: 'Roboto', sans-serif;
    --container-width: 70.625em;
    --container-fluid-width: 118em;
    --transition-timing-function: cubic-bezier(.55, .055, .675, .19);
}
