/* Based on Sublime Text's Monokai theme */

.cm-s-monokai { background: #272822; color: #F8F8F2; }
.cm-s-monokai span.CodeMirror-selected { background: #FFE792 !important; }
.cm-s-monokai .CodeMirror-gutter { background: #272822; border-right: 0px; }
.cm-s-monokai .CodeMirror-gutter-text { color: #d0d0d0; }
.cm-s-monokai .CodeMirror-cursor { border-left: 1px solid #F8F8F0 !important; }

.cm-s-monokai span.cm-comment { color: #75715E; }
.cm-s-monokai span.cm-atom { color: #AE81FF; }
.cm-s-monokai span.cm-number { color: #AE81FF; }

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {color: #A6E22E;}
.cm-s-monokai span.cm-keyword { color: #F92672; }
.cm-s-monokai span.cm-string { color: #E6DB74; }

.cm-s-monokai span.cm-variable {color: #A6E22E;}
.cm-s-monokai span.cm-variable-2 { color: #9effff; }
.cm-s-monokai span.cm-def { color: #FD971F; }
.cm-s-monokai span.cm-error { background: #F92672; color: #F8F8F0; }
.cm-s-monokai span.cm-bracket { color: #f8F8F2; }
.cm-s-monokai span.cm-tag {color: #F92672;}

.CodeMirror-matchingbracket{
	text-decoration: underline;
	color: white !important;
}