#social-poup-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99999;
}
.social-poup {
    position: fixed;
    top: 50%;
    margin-top: -276px;
    left: 50%;
    margin-left: -420px;
    padding-left: 26px;
    width: 840px;
    height: 552px;
    background-color: #fff;
    z-index: 99999;
}
.social-poup-header {
    margin-bottom: 18px;
    margin-left: -26px;
    padding: 10px 95px;
    font-size: 28px;
    line-height: 28px;
    color: #393939;
    background-color: #fec22e;
    text-align: center;
}
.social-poup-header span {
    display: block;
}
.social-poup-text {
    margin-left: -26px;
    padding-bottom: 22px;
    font-size: 22px;
    text-align: center;
}
.group-container {
    float: left;
    width: 242px;
    height: 312px;
    margin: 0 10px;
    overflow: hidden;
}
.group-container-header {
    position: relative;
    margin-bottom: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #393939;
    text-align: center;
}
.group-container-header img {
    margin-right: 8px;
}
#social-poup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    background: url("../img/social-poup-close-icon.png") no-repeat 50% 50%;
    cursor: pointer;
}
.social-poup-subscribed {
    clear: both;
    margin-left: -26px;
    text-align: center;
}
.social-poup-subscribed span {
    display: inline-block;
    margin: 30px 0;
    padding: 10px 14px 8px;
    font-size: 13px;
    color: #282828;
    background-color: #d3d3d3;
    cursor: pointer;
}
.social-poup-subscribed span:hover {
    background-color: #ededed;
}
@media screen and (max-width: 768px) {
    .social-poup {
        position: fixed;
        top: 15px;
        margin-top: 0;
        left: 50%;
        margin-left: -145px;
        bottom: 15px;
        padding-left: 0;
        width: 290px;
        height: auto;
        overflow-y: auto;
    }
    .social-poup-header {
        margin-bottom: 14px;
        margin-left: 0;
        padding: 30px 15px 15px;
        font-size: 23px;
        line-height: 23px;
    }
    .social-poup-text {
        margin-bottom: 14px;
        margin-left: 0;
        padding: 0 15px;
        font-size: 20px;
        line-height: 24px;
    }
    .group-container {
        float: none;
        margin: 0 auto 24px;
        overflow: hidden;
    }
    .social-poup-subscribed {
        margin-left: 0;
    }
    .social-poup-subscribed span {
        margin-top: 0;

    }
}