.header, .structured_top, .home_projects_right_nav, .favorites_wrap, .footer, .expand_description, .social_news {
    display: none;
}
#project-tab4, #project-tab1 {
    display: block !important;
    visibility: visible !important;
}
#project-tabs {
    display: none;
}
.project_cost_table {
    margin-top:0;
}
#show-send-link {
    display: none;
}
.project_cost_name {
    margin-top:30px;
}
.projects_info .left {
    width: 300px;
}
.plan_wrap {
    border: none;
}
.plan_wrap img {
    max-width:290px;
    border: none;
}
.projects_info .right {
    width: 590px;
}
.area_block {
    display: inline-block;
    margin-left:20px;
    width: 270px;
    background: #f0efef;
}
.area_block:first-child {
    margin-left: 0;
}
.contact-data {
    display:block !important;
    text-align: center;
    margin:20px 0;
}
#project-tab3 {
    display: none;
}
.caroufredsel_wrapper, .home_projects_center .slider .slide, .home_projects_center .slider .slide img {
    width: 1000px !important;
}