.faq-page {

    &__title {
        margin-top: 12px;
        margin-bottom: 38px;
        font-size: 32px;
        font-weight: 400;
        color: #000000;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;

        @media screen and (max-width: 823px) {
            font-size: 28px;
        }
    }

    &__wrapper {
        margin-bottom: 48px;
    }

    &__parent {
        margin-bottom: 0;
        padding-left: 0 !important;
        list-style: none !important;

        &-item {
            margin-bottom: 1px;
            list-style-image: none !important;

            &-link {
                position: relative;
                display: block;
                padding: 8px 8px 8px 34px;
                font-weight: 700;
                color: #000000;
                background-color: #ffffff;
                border-radius: 2px;
                transition: background-color .3s ease;

                span {
                    position: absolute;
                    top: 13px;
                    left: 12px;
                    display: inline-flex;
                    flex-shrink: 0;
                    width: 11px;
                    height: 11px;

                    &:before {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 5px;
                        width: 1px;
                        background-color: #000000;
                        content: '';
                        transform-origin: center;
                        transition: transform .3s ease;
                    }

                    &:after {
                        position: absolute;
                        top: 5px;
                        left: 0;
                        right: 0;
                        height: 1px;
                        background-color: #000000;
                        content: '';
                    }

                }

                &:hover {
                    color: #000000;
                    text-decoration: none;
                    background-color: #ffde15;
                    cursor: pointer;
                }

                &.active {

                    span {

                        &:before {
                            transform: rotateZ(-90deg);
                        }
                    }
                }
            }
        }
    }

    &__children {
        margin-bottom: 0;
        padding-left: 32px !important;
        list-style: none !important;

        &-item {
            margin-top: 1px;
            list-style-image: none !important;

            &-link {
                position: relative;
                display: block;
                padding: 8px 8px 8px 34px;
                font-weight: 700;
                color: #000000;
                background-color: #ffffff;
                border-radius: 2px;
                transition: background-color .3s ease;

                span {
                    position: absolute;
                    top: 13px;
                    left: 12px;
                    display: inline-flex;
                    flex-shrink: 0;
                    width: 11px;
                    height: 11px;

                    &:before {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 5px;
                        width: 1px;
                        background-color: #000000;
                        content: '';
                        transform-origin: center;
                        transition: transform .3s ease;
                    }

                    &:after {
                        position: absolute;
                        top: 5px;
                        left: 0;
                        right: 0;
                        height: 1px;
                        background-color: #000000;
                        content: '';
                    }

                }

                &:hover {
                    color: #000000;
                    text-decoration: none;
                    background-color: #ffde15;
                    cursor: pointer;
                }

                &.active {

                    span {

                        &:before {
                            transform: rotateZ(-90deg);
                        }
                    }
                }
            }
        }

        &-content {
            margin-top: 15px;
            margin-bottom: 15px;
            color: #000000;
            text-align: justify;
            list-style-image: none !important;

            ul,
            ol {
                display: block !important;
                margin-bottom: 10px !important;
                padding-left: 17px;

                li {
                    margin-bottom: 10px;
                    list-style-image: none !important;

                    p {
                        margin-bottom: 0 !important;
                    }
                }
            }

            img {
                display: block;
                max-width: 100%;
                height: auto !important;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }

    &__grandchildren {
        margin-bottom: 0;
        padding-left: 32px !important;
        list-style: none !important;

        &-item {
            margin-top: 1px;
            list-style-image: none !important;

            &-link {
                position: relative;
                display: block;
                padding: 8px 8px 8px 34px;
                font-weight: 700;
                color: #000000;
                background-color: #ffde15;
                border-radius: 2px;
                transition: background-color .3s ease;

                span {
                    position: absolute;
                    top: 13px;
                    left: 12px;
                    display: inline-flex;
                    flex-shrink: 0;
                    width: 11px;
                    height: 11px;

                    &:before {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 5px;
                        width: 1px;
                        background-color: #ffffff;
                        content: '';
                        transform-origin: center;
                        transition: transform .3s ease;
                    }

                    &:after {
                        position: absolute;
                        top: 5px;
                        left: 0;
                        right: 0;
                        height: 1px;
                        background-color: #ffffff;
                        content: '';
                    }

                }

                &:hover {
                    color: #ffffff;
                    text-decoration: none;
                    background-color: #ffde15;
                    cursor: pointer;
                }

                &.active {

                    span {

                        &:before {
                            transform: rotateZ(-90deg);
                        }
                    }
                }
            }
        }

        &-content {
            margin-top: 15px;
            margin-bottom: 15px;
            color: #000000;
            text-align: justify;
            list-style-image: none !important;

            ul,
            ol {
                display: block !important;
                margin-bottom: 10px !important;
                padding-left: 17px;

                li {
                    margin-bottom: 10px;
                    list-style-image: none !important;

                    p {
                        margin-bottom: 0 !important;
                    }
                }
            }

            img {
                display: block;
                max-width: 100%;
                height: auto !important;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}
