.banner {
    padding-top: 9.25em;

    @media screen and (max-width: 992px) {
        padding-top: 2.8125em;
    }

    @media screen and (max-width: 767px) {
        padding-top: 0;
    }

    &__inner {
        position: relative;

        &:before {
            position: absolute;
            top: 0;
            bottom: 5.1875em;
            right: 2.125em;
            width: 50%;
            border-bottom: .1875em solid var(--brand-color);
            border-right: .1875em solid var(--brand-color);
            content: '';

            @media screen and (min-width: 768px) and (max-width: 992px) {
                top: 0;
                bottom: 3.25em;
                right: 1em;
            }

            @media screen and (max-width: 767px) {
                top: 0;
                bottom: 2.875em;
                right: 1em;
                border-bottom: .125em solid var(--brand-color);
                border-right: .125em solid var(--brand-color);
            }

            @media screen and (max-width: 414px) {
                bottom: 3.875em;
            }
        }
    }

    &__content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding-top: 9.75%;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            padding-top: 5.875%;
        }

        @media screen and (max-width: 767px) {
            padding-top: 3em;
        }

        @media screen and (max-width: 414px) {
            padding-top: 7.125em;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2.01875em;
        color: var(--brand-color);
        line-height: 1.11111111;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 0 .25rem .125rem rgba(0, 0, 0, .5), 0 0 1.5rem rgba(0, 0, 0, .6);

        @media screen and (min-width: 768px) and (max-width: 992px) {
            font-size: 1.6875em;
            text-shadow: 0 .25rem .125rem rgba(0, 0, 0, .5), 0 0 1.125rem rgba(0, 0, 0, .6);
        }

        @media screen and (max-width: 767px) {
            padding-left: 1em;
            padding-right: 1em;
            font-size: 1.875em;
            line-height: 1.25;
            text-shadow: 0 .25rem .125rem rgba(0, 0, 0, .5), 0 0 .8125rem rgba(0, 0, 0, .6);
        }

        span {
            display: inline-block;
        }
    }

    &__slogan {
        z-index: 1;
        max-width: 22.68421052em;
        margin: auto auto 1em;
        padding: .36842105em 0 .15789474em;
        font-size: 2.01875em;
        line-height: 1.18421053;
        text-transform: uppercase;
        text-align: center;
        background-color: var(--brand-color);

        @media screen and (min-width: 768px) and (max-width: 992px) {
            margin: auto auto .69230769em;
            padding: .23076923em 0 .15789474em;
            font-size: 1.625em;
        }

        @media screen and (max-width: 767px) {
            margin: auto 16px 16px;
            padding: .23076923em 0 .15789474em;
            font-size: 1.25em;
        }

        @media screen and (max-width: 414px) {
            margin: auto 1.7em 1.6em;
        }

        strong {
            display: inline-block;
            font-weight: 700;
        }
    }

    &__pic {
        display: block;
    }

    &__img {
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.stage {

    &__inner {
        padding-top: 3.75em;
        padding-bottom: 5.75em;
        padding-left: 1.8125em;
        padding-right: 2em;
        border-bottom: .1875em solid var(--base-color);
        border-left: .1875em solid var(--base-color);

        @media screen and (min-width: 768px) and (max-width: 992px) {
            padding-top: 3em;
            padding-bottom: 4.75em;
        }

        @media screen and (max-width: 767px) {
            padding-top: 1.5em;
            padding-bottom: 4.125em;
            padding-left: 1em;
            padding-right: 1.125em;
            border-bottom: .125em solid var(--base-color);
            border-left: .125em solid var(--base-color);
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: .42105263em;
        font-size: 2em;
        line-height: 1.11111111;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            font-size: 1.8125em;
        }

        @media screen and (max-width: 767px) {
            font-size: 1.5em;
        }

        @media screen and (max-width: 414px) {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            font-size: 1.375em;
        }

        &-number {
            font-family: 'Roboto Slab', serif;
            font-size: 3.15789474em;
            font-weight: 400;

            @media screen and (max-width: 414px) {
                flex-shrink: 0;
            }
        }

        &-content {
            margin-left: .10526316em;
            font-weight: 700;
            text-transform: uppercase;

            @media screen and (max-width: 414px) {
                margin-bottom: -.63636364em;
                margin-left: .36363636em;
            }
        }
    }

    &__slogan {
        margin-top: 0;
        margin-bottom: 2.75em;
        margin-left: -2em;
        background-color: var(--brand-color);

        @media screen and (max-width: 767px) {
            margin-left: -1.125em;
        }

        &-inner {
            display: inline-block;
            padding-top: .11111111em;
            padding-left: 1.77777778em;
            font-size: 1.125em;
            text-transform: uppercase;

            @media screen and (min-width: 768px) and (max-width: 992px) {
                padding-left: 2em;
                font-size: 1em;
            }

            @media screen and (max-width: 767px) {
                padding-left: 1.38461538em;
                font-size: .8125em;
            }
        }
    }

    &__content {

        &-top {
            display: flex;
            flex-flow: row nowrap;

            @media screen and (max-width: 767px) {
                flex-flow: column nowrap;
            }
        }

        &-list {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;

            &--top {
                counter-reset: item-first;
            }

            &--bottom {
                counter-reset: item-second 5;
            }

            &--bottom {
                width: 51.61987041%;
                padding-right: 1em;
                box-sizing: border-box;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    margin-bottom: .875em;
                    padding-right: 0;
                }
            }

            &-wrap {
                width: 51.61987041%;
                padding-right: 1em;
                box-sizing: border-box;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    padding-right: 0;
                }
            }

            &-title {
                margin-top: 0;
                font-size: 1.3125em;
                font-weight: 700;
                text-transform: uppercase;

                @media screen and (max-width: 767px) {
                    margin-bottom: 1.25em;
                    font-size: 1em;
                }
            }

            &-item {
                position: relative;
                margin-bottom: 1.5em;
                padding-left: 2.11111111em;
                font-size: .9375em;
                font-weight: 500;
                line-height: 1.16666667;

                @media screen and (min-width: 768px) and (max-width: 992px) {
                    margin-bottom: 1em;
                }

                @media screen and (max-width: 767px) {
                    margin-bottom: 1.25em;
                    font-size: .875em;
                }

                &--top {
                    counter-increment: item-first;

                    &:before {
                        content: counter(item-first);
                    }
                }

                &--bottom {
                    counter-increment: item-second;

                    &:before {
                        content: counter(item-second);
                    }
                }

                &:before {
                    position: absolute;
                    top: -.22222222em;
                    left: 0;
                    font-size: 1.38888889em;
                    font-weight: 700;
                    color: var(--base-color);
                }

                &:after {
                    position: absolute;
                    top: 0;
                    left: .27777778em;
                    z-index: -1;
                    width: 1.2em;
                    height: 1em;
                    background-color: var(--brand-color);
                    content: '';
                }

                em {
                    position: relative;
                    display: inline-block;
                    font-style: normal;

                    &:after {
                        position: absolute;
                        bottom: .33707865em;
                        left: 0;
                        right: 0;
                        z-index: -1;
                        height: .22222222em;
                        background-color: var(--brand-color);
                        content: '';
                    }
                }
            }
        }

        &-gallery {
            width: 48.38012959%;
            padding-top: 3em;

            @media screen and (max-width: 767px) {
                width: 100%;
                max-width: 22.8125em;
                padding-top: 0;
                margin-bottom: 1.5em;
            }

            &-inner {
                width: 100% !important;
                box-shadow: 0 .25em .25em 0 rgba(0, 0, 0, .25);
            }

            &-item {

                &:hover,
                &:focus {
                    outline: none;
                    cursor: pointer;
                }
            }

            &-video {

                &-inner {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    padding-top: 72.05479452%;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &-img {
                max-width: 100%;
                height: auto;
            }
        }

        &-bottom {
            display: flex;
            flex-flow: row nowrap;

            @media screen and (max-width: 767px) {
                flex-flow: column nowrap;
            }
        }

        &-thumbs {

            &-wrap {
                width: 48.38012959%;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    max-width: 22.8125em;
                }
            }

            &-inner {
                width: calc(100% + .375em);
                margin-left: -.1875em;
                margin-right: -.1875em;
            }

            &-title {
                margin-top: 0;
                margin-bottom: 1.4444444444em;
                font-size: .9375em;
                font-weight: 700;
                line-height: 1;
                text-transform: uppercase;
            }

            &-item {
                position: relative;
                margin-bottom: .5em;

                &:after {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: .3125em;
                    right: .3125em;
                    background-color: rgba(0, 0, 0, .5);
                    background-image: url("../images/hotels/icon-loupe.svg");
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    opacity: 0;
                    transition: opacity .3s var(--transition-timing-function);
                    content: '';

                    @media screen and (max-width: 1024px) {
                        content: none;
                    }
                }

                &:hover,
                &:focus {
                    outline: none;
                    cursor: pointer;
                }

                &:hover {

                    &:after {
                        opacity: 1;
                    }
                }
            }

            &-img {
                max-width: 100%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                box-shadow: 0 .25em .25em 0 rgba(0, 0, 0, .25);

                @media screen and (min-width: 768px) and (max-width: 992px) {
                    max-width: 92.5%;
                }

                @media screen and (max-width: 414px) {
                    max-width: 92.5%;
                }
            }


        }
    }
}

.standart {

    &__inner {
        padding-bottom: 3.5em;
        padding-left: 2em;
        padding-right: 1.8125em;
        border-right: .1875em solid var(--base-color);

        @media screen and (max-width: 767px) {
            padding-bottom: 2.125em;
            padding-left: 1.125em;
            padding-right: 1em;
            border-right: .125em solid var(--base-color);
        }
    }

    &__slogan {
        margin-top: 0;
        margin-bottom: -.9375em;
        margin-left: -2em;
        text-align: center;
        background-color: var(--brand-color);
        transform: translateY(-1.1875em);

        @media screen and (max-width: 767px) {
            margin-bottom: 0;
            margin-left: -1.125em;
            padding-left: 1em;
            text-align: left;
            transform: translateY(-.875em);
        }

        @media screen and (max-width: 414px) {
            transform: translateY(-1.5em);
        }

        &-inner {
            display: inline-block;
            padding-top: .0625em;
            padding-left: 1em;
            font-size: 2em;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;

            @media screen and (min-width: 768px) and (max-width: 992px) {
                padding-left: 0;
                font-size: 1.875em;
            }

            @media screen and (max-width: 767px) {
                padding-left: 0;
                font-size: 1.375em;
            }
        }
    }

    &__title {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        margin-top: 0;
        margin-bottom: 1.14285714em;
        font-size: 1.5em;
        line-height: 1.11111111;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            font-size: 1.375em;
        }

        @media screen and (max-width: 767px) {
            font-size: 1em;
            align-items: center;
        }

        &-number {
            font-family: 'Roboto Slab', serif;
            font-size: 4.28571429em;
            font-weight: 400;
            line-height: 1.11111111;
        }

        &-content {
            flex: 1;
            margin-left: .10526316em;
            font-weight: 400;
            line-height: 1.4;
            text-transform: uppercase;
            text-align: center;

            @media screen and (max-width: 767px) {
                margin-bottom: -1.125em;
                margin-left: .5em;
                text-align: left;
            }

            em {
                padding: .125rem .25rem;
                font-weight: 700;
                font-style: normal;
                background-color: var(--brand-color);
            }
        }
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;

        @media screen and (max-width: 767px) {
            flex-flow: column nowrap;
        }

        &-pic {
            width: 50%;
            box-shadow: 0 .25em .25em 0 rgba(0, 0, 0, .25);

            @media screen and (min-width: 768px) and (max-width: 992px) {
                align-self: flex-start;
                width: 55%;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
                max-width: 23.5625em;
                margin-bottom: 1.875em;
            }

            @media screen and (max-width: 414px) {
                margin-top: 1em;
            }
        }

        &-img {
            max-width: 100%;
            height: auto;
        }

        &-list {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            width: 50%;
            margin-top: 0;
            margin-bottom: 0;
            padding: 1.5em 0;
            list-style: none;

            @media screen and (min-width: 768px) and (max-width: 992px) {
                width: 45%;
                padding: 1.25em 0;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
                padding-top: 0;
                padding-bottom: 0;
            }

            &-item {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                height: 4.5em;

                @media screen and (min-width: 768px) and (max-width: 992px) {
                    height: 3.625em;
                }

                @media screen and (max-width: 767px) {
                    height: 5.375em;
                }

                &:first-child {
                    align-items: flex-start;

                    @media screen and (max-width: 767px) {
                        align-items: center;
                    }
                }
            }

            &-icon {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                width: 3.625em;
                height: 3.625em;
                margin-left: -1.8125em;
                margin-right: 1.25em;
                border: .125em solid var(--base-color);
                box-sizing: border-box;
                background-color: #ffffff;
                transition: background-color .3s var(--transition-timing-function), border .3s var(--transition-timing-function);

                @media screen and (min-width: 768px) and (max-width: 992px) {
                    width: 3.5em;
                    height: 3.5em;
                    margin-right: 1.125em;
                }

                @media screen and (max-width: 767px) {
                    width: 3.25em;
                    height: 3.25em;
                    margin-left: 0;
                    margin-right: 1em;
                }

                &:hover {
                    border: .125em solid var(--brand-color);
                    background-color: var(--brand-color);
                    cursor: pointer;
                }
            }

            &-text {
                font-size: .9375em;
                font-weight: 500;
                line-height: 1.27777778;

                @media screen and (min-width: 768px) and (max-width: 992px) {
                    font-size: .875em;
                }
            }
        }
    }
}

.energy {

    &__header {
        padding-left: 2em;
        padding-right: 1.8125em;
        border-right: .1875em solid var(--base-color);

        @media screen and (max-width: 767px) {
            padding-left: 1.125em;
            padding-right: 1em;
            border-right: .125em solid var(--base-color);
        }
    }

    &__title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0;
        margin-bottom: .3157894736em;
        font-size: 2em;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            font-size: 1.875em;
        }

        @media screen and (max-width: 767px) {
            font-size: 1.375em;
        }

        @media screen and (max-width: 414px) {
            font-size: 1.125em;
        }

        &-number {
            font-family: 'Roboto Slab', serif;
            font-size: 3.15789474em;
            font-weight: 400;
            line-height: 1.11111111;

            @media screen and (max-width: 767px) {
                font-size: 3.0909091em;
            }

            @media screen and (max-width: 414px) {
                font-size: 3.77777778em;
            }
        }

        &-content {
            flex: 1;
            margin-bottom: -.42105263em;
            font-weight: 700;
            line-height: 1.18421053;
            text-transform: uppercase;
            text-align: left;
        }
    }

    &__slogan {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -1.33333333em;
        margin-right: -1.33333333em;
        padding-top: .14285714em;
        padding-bottom: .07142857em;
        padding-left: 1.33333333em;
        padding-right: 1.33333333em;
        font-size: 1.5em;
        line-height: 1.42857142;
        text-transform: uppercase;
        background-color: var(--brand-color);

        @media screen and (max-width: 767px) {
            margin-left: -1.125em;
            margin-right: -1.125em;
            padding-left: 1.125em;
            padding-right: 1.125em;
            font-size: 1em;
        }
    }

    &__inner {
        padding-top: 2.125em;
        padding-bottom: 6em;
        padding-left: 1.8125em;
        padding-right: 2em;
        border-left: .1875em solid var(--base-color);

        @media screen and (max-width: 767px) {
            padding-bottom: 5.125em;
            padding-left: 1em;
            padding-right: 1.125em;
            border-left: .125em solid var(--base-color);
        }

        &-title {
            margin-top: 0;
            font-size: 1.3125em;
            font-weight: 700;
            text-transform: uppercase;

            @media screen and (max-width: 767px) {
                font-size: 1em;
            }
        }

        &-notice {
            margin-top: -.9375em;
            margin-bottom: -.4375em;
            text-align: right;

            &-text {
                display: inline-block;
                padding: .75em .5em;
                font-size: 1.0625em;
                font-weight: 700;
                text-transform: uppercase;
                background-color: var(--brand-color);

                @media screen and (max-width: 767px) {
                    font-size: .9375em;
                }
            }
        }
    }

    &__list {
        width: calc(100% - 10em);
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;

        @media screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 2em;
        }

        &-item {
            position: relative;
            margin-bottom: .88888889em;
            padding-left: 1.38888889em;
            font-size: .9375em;
            font-weight: 500;
            line-height: 1.44444444;

            @media screen and (max-width: 767px) {
                font-size: .875em;
            }

            &:before {
                position: absolute;
                left: 0;
                top: .33333333em;
                width: .88888889em;
                height: .72222222em;
                background-color: var(--brand-color);
                content: '';
            }
        }
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;
        border: 1px solid #d1d3d4;

        &-descr {
            margin: 1.125em 1.77777778em 1em;
            font-size: .9375em;
            font-style: italic;
            font-weight: 500;
            line-height: 1.6;
            text-align: center;

            @media screen and (max-width: 767px) {
                margin: 1.125em 1.14285714em 1em;
                font-size: .875em;
            }

            span {
                display: inline-block;
            }
        }

        &-notice {
            position: relative;
            margin-top: 0;
            margin-bottom: 0;
            padding: .65em 1.6em .55em;
            font-size: .9375em;
            font-weight: 700;
            line-height: 1.6;
            text-transform: uppercase;
            text-align: center;
            background-color: #d1d3d4;

            &:before {
                position: absolute;
                top: -1.425em;
                left: .8em;
                width: .125rem;
                height: 2.85em;
                background-color: var(--brand-color);
                content: '';
            }

            &:after {
                position: absolute;
                top: -1.425em;
                right: .8em;
                width: .125rem;
                height: 2.85em;
                background-color: var(--brand-color);
                content: '';
            }
        }
    }
}

.contacts {

    &__wrap {
        padding-top: 11em;
        padding-bottom: 6em;
        padding-left: 1.8125em;
        padding-right: 2em;
        border-left: .1875em solid var(--base-color);

        @media screen and (min-width: 768px) and (max-width: 992px) {
            padding-top: 8.25em;
            padding-bottom: 5em;
        }

        @media screen and (max-width: 767px) {
            padding-top: 6em;
            padding-bottom: 4em;
            padding-left: 1em;
            padding-right: 1.125em;
            border-left: .125em solid var(--base-color);
        }
    }

    &__inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 4.875em;

        @media screen and (max-width: 767px) {
            flex-flow: column nowrap;
            margin-bottom: 3.5em;
        }
    }

    &__form {
        width: 47.60869565%;

        @media screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 2.75em;
        }

        &-title {
            margin-top: 0;
            margin-bottom: 2em;
            font-size: 1.25em;
            font-weight: 700;
            text-transform: uppercase;
        }

        &-notice {
            margin-top: 0;
            font-size: .875em;
            font-weight: 700;
            text-transform: uppercase;
        }

        &-group {
            margin-bottom: .8125em;
        }

        &-control {
            width: 100%;
            height: 2.5em;
            padding: .41666667em .83333333em;
            border: none;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            font-size: .75em;
            font-weight: 700;
            color: var(--base-color) !important;
            background-color: #e6e7e8;
            transition: all .3s cubic-bezier(.55, .055, .675, .19);

            &:focus {
                outline: none;
                box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25);
            }

            &::-webkit-input-placeholder {
                color: var(--base-color) !important;
                opacity: 1 !important;
            }

            &::-moz-placeholder {
                color: var(--base-color) !important;
                opacity: 1 !important;
            }

            &--textarea {
                height: 11em;
                padding: 1.166666667em;
                border: .41666667em solid var(--brand-color);
                background-color: transparent;
                box-shadow: 7px 9px 6px -2px rgba(0, 0, 0, .3), inset 5px 6px 10px 2px rgba(0, 0, 0, .3);

                &:focus {
                    box-shadow: none;
                }
            }

            &[type="number"] {
                -moz-appearance:textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }

        &-btn {
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: stretch;
            padding: 0;
            border: none;
            font-size: .9375em;
            font-weight: 700;
            text-transform: uppercase;
            background-color: var(--brand-color);
            transition: color .4s var(--transition-timing-function);

            @media screen and (max-width: 767px) {
                font-size: .75em;
            }

            &:hover,
            &:focus {
                color: var(--brand-color);
                outline: none;
                cursor: pointer;

                .contacts__form-btn-text {

                    &:after {
                        width: 100%;
                    }
                }
            }

            &-text {
                position: relative;
                z-index: 1;
                padding: .875em 1.6em;

                &:after {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    z-index: -1;
                    width: 0;
                    background-color: var(--base-color);
                    content: '';
                    transition: width .4s var(--transition-timing-function);
                }
            }

            &-arrow {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                flex: 1;
                width: 2.66666666em;
                background-color: var(--base-color);
            }

            &-wrap {
                margin-top: 1.8125em;
                text-align: right;

                @media screen and (max-width: 767px) {
                    margin-top: 1.375em;
                    text-align: left;
                }
            }
        }
    }

    &__address {
        width: 48.69565217%;
        font-style: normal;

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        &-title {
            margin-top: .1875em;
            margin-bottom: 2.66666667em;
            font-size: .9375em;
            font-weight: 700;
            text-transform: uppercase;

            @media screen and (max-width: 767px) {
                margin-top: 0;
                margin-bottom: 1.375em;
                font-size: .875em;
            }
        }

        &-list {
            margin-top: 0;
            margin-bottom: 2.25em;
            padding-left: 0;
            list-style: none;
        }

        &-item {
            margin-bottom: .21428571em;
            font-size: .875em;

            @media screen and (max-width: 767px) {
                font-size: .8125em;
            }

            a {
                color: var(--base-color);
                transition: color .3s var(--transition-timing-function);

                &:hover,
                &:focus {
                    color: var(--brand-color);
                }
            }
        }
    }

    &__map {
        height: 17.0625em;
        box-shadow: 7px 9px 6px -2px rgba(0, 0, 0, .5);
    }

    &__descr {

        &-title {
            margin-top: 0;
            margin-bottom: 1em;
            font-size: 1.5em;
            font-weight: 700;
            line-height: 1.18421053;
            text-transform: uppercase;

            @media screen and (max-width: 767px) {
                font-size: 1.25em;
            }
        }

        &-inner {
            font-size: .9375em;
            font-weight: normal;
            line-height: 1.27777778em;
            color: rgba(0, 0, 0, .5);

            @media screen and (max-width: 767px) {
                font-size: .875em;
            }

            p {
                margin-top: 0;
                margin-bottom: 1em;
            }

            h2, h3, h4, h5 {
                margin-top: 0;
                margin-bottom: 1em;
                font-size: 1.5em;

                @media screen and (max-width: 767px) {
                    font-size: 1.25em;
                }
            }
        }
    }
}

.request {
    padding: 5.25em 0;
    background-color: var(--brand-color);

    @media screen and (max-width: 767px) {
        padding: 3.875em 0;
    }

    &__wrap {
        max-width: 47.125em;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2em;
        font-weight: 700;
        line-height: 1.11111111;
        text-transform: uppercase;
        text-align: center;

        @media screen and (max-width: 767px) {
            margin-bottom: .46153846em;
            padding-left: .5em;
            padding-right: .5em;
            font-size: 1.625em;
        }

        &:before {
            position: absolute;
            left: 0;
            top: -1.25em;
            width: 1.5em;
            height: .0625em;
            background-color: var(--base-color);
            content: '';

            @media screen and (max-width: 767px) {
                top: -1em;
                height: .03846154em;
            }
        }

        &:after {
            position: absolute;
            right: 0;
            top: -1.25em;
            width: 1.5em;
            height: .0625em;
            background-color: var(--base-color);
            content: '';

            @media screen and (max-width: 767px) {
                top: -1em;
                height: .03846154em;
            }
        }
    }

    &__subtitle {
        margin-top: 0;
        font-size: 1.3125em;
        font-weight: 500;
        text-align: center;

        @media screen and (max-width: 767px) {
            padding: 0 1em;
            font-size: 1em;
        }
    }

    &__inner {
        padding: 1.6875em 2.3125em 1.8125em;
        border: .5em solid #d1d3d4;
        background-color: #ffffff;

        @media screen and (max-width: 767px) {
            padding: 1.6875em 1.625em 1.8125em;
            border: .375em solid #d1d3d4;
        }

        &-title {
            margin-top: 0;
            margin-bottom: .85714286em;
            font-size: 1.3125em;
            font-weight: 500;
            line-height: 1.11111111;
            text-transform: uppercase;
            text-align: center;
        }
    }

    &__group {
        margin-bottom: 1em;

        &--sm {
            width: calc(33.33333333% - .625em);

            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }

        &--file {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-top: -.375em;
        }

        &-wrap {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            @media screen and (max-width: 767px) {
                flex-flow: column nowrap;
            }

        }
    }

    &__control {
        width: 100%;
        height: 2.5em;
        padding: .625em 1.25em;
        border: none;
        box-sizing: border-box;
        font-family: var(--base-font);
        font-size: .75em;
        font-weight: 700;
        background-color: #e6e7e8;
        transition: all .3s cubic-bezier(.55, .055, .675, .19);

        &:focus {
            outline: none;
            box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25);
        }

        &::-webkit-input-placeholder {
            color: var(--base-color) !important;
            opacity: 1 !important;
            text-transform: uppercase !important;
        }

        &::-moz-placeholder {
            color: var(--base-color) !important;
            opacity: 1 !important;
            text-transform: uppercase !important;
        }

        &--textarea {
            height: 7.08133333em;
        }
    }

    &__btn {
        display: inline-block;
        padding: 1em 2.13333333em;
        border: none;
        font-size: .9375em;
        font-weight: 700;
        color: var(--brand-color);
        text-transform: uppercase;
        background-color: var(--base-color);
        transition: all .3s var(--transition-timing-function);

        @media screen and (max-width: 767px) {
            font-size: .8125em;
        }

        &:hover,
        &:focus {
            color: var(--base-color);
            background-color: var(--brand-color);
            outline: none;
            cursor: pointer;
        }

        &-wrap {
            text-align: center;
        }

        &-upload {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: .5em 8.5em .33333333em;
            border: 1px solid var(--base-color);
            font-size: .75em;
            font-weight: 700;
            text-transform: uppercase;
            background-color: #ffffff;
            transition: color .3s var(--transition-timing-function), background-color .3s var(--transition-timing-function);

            @media screen and (max-width: 767px) {
                padding: .5em 5.875em .33333333em;
                font-size: .625em;
            }

            &-icon {
                margin-top: -.25em;
                margin-right: .4166666666em;

                svg {
                    fill: var(--base-color);
                    transition: fill .3s var(--transition-timing-function);
                }
            }

            &:hover {
                color: #ffffff;
                background-color: var(--base-color);
                cursor: pointer;

                .request__btn-upload-icon svg {
                    fill: #ffffff;
                }
            }
        }
    }

    &__label-upload {
        margin-top: .26666667em;
        margin-bottom: -.26666667em;
        font-style: italic;
        font-size: .9375em;
    }

    &__success {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 700;
        text-align: center;
    }
}

.services {

    &__inner {
        position: relative;
        padding-top: 5.25em;
        padding-left: 1.8125em;
        padding-right: 2em;
        border-left: .1875em solid var(--base-color);

        @media screen and (max-width: 767px) {
            padding-top: 3.875em;
            padding-left: 1em;
            padding-right: 1.125em;
            border-left: .125em solid var(--base-color);
        }

        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            right: calc(100% - 1.625em);
            z-index: -1;
            width: 35.75em;
            background-color: #f1f2f2;
            content: '';

            @media screen and (max-width: 992px) {
                content: none;
            }
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 1.4375em;
        font-size: 2em;
        line-height: 1.11111111;
        text-transform: uppercase;
        text-align: center;

        @media screen and (max-width: 767px) {
            font-size: 1.25em;
        }

        &-inner {
            display: inline-block;
            padding-top: .0625em;
            padding-left: .9375em;
            padding-right: .9375em;
            background-color: var(--brand-color);
        }
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;

        @media screen and (max-width: 767px) {
            flex-flow: column-reverse nowrap;
        }

        &-pic {
            position: relative;
            width: 49.73474801%;
            margin-left: -1.375em;
            padding-top: 5.125em;
            padding-bottom: 5.125em;
            border-top: .25em solid #f1f2f2;
            border-bottom: .25em solid #f1f2f2;
            border-right: .25em solid #f1f2f2;
            box-sizing: border-box;

            @media screen and (min-width: 768px) and (max-width: 992px) {
                display: flex;
                align-self: flex-start;
                margin-left: 0;
                padding: 3.625em .5em;
                border: .25em solid #f1f2f2;
            }

            @media screen and (max-width: 767px) {
                display: flex;
                align-self: flex-start;
                width: 100%;
                max-width: 23.4375em;
                margin-left: 0;
                padding: 3.25em 0;
                border: .125em solid #f1f2f2;
            }

            &:before {
                position: absolute;
                top: 2.5em;
                bottom: 1.8125em;
                left: -2.125em;
                z-index: -1;
                width: 50%;
                border: .25em solid #ffffff;
                content: '';

                @media screen and (max-width: 992px) {
                    content: none;
                }
            }
        }

        &-img {
            max-width: 100%;
            height: auto;
        }

        &-list {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            width: 50.26525199%;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 2.125em;
            list-style: none;

            @media screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: .875em;
                padding-left: 0;
            }

            &-item {
                position: relative;
                margin-bottom: 1.68421052em;
                padding-left: 1.42105263em;
                font-size: 1.1875em;
                font-weight: 500;
                line-height: 1.27272727;

                @media screen and (max-width: 767px) {
                    margin-bottom: 1em;
                    font-size: .9375em;
                }

                &:before {
                    position: absolute;
                    top: .36842105em;
                    left: 0;
                    width: .57894737em;
                    height: .52631579em;
                    background-color: var(--brand-color);
                    content: '';
                }
            }
        }
    }
}

.excellence {

    &__header {
        padding-top: 5em;
        padding-bottom: 7.25em;
        padding-left: 1.8125em;
        padding-right: 2em;
        border-bottom: .1875em solid var(--base-color);
        border-left: .1875em solid var(--base-color);

        @media screen and (max-width: 767px) {
            padding-top: 3.5em;
            padding-bottom: 5.625em;
            padding-left: 1em;
            padding-right: 1.125em;
            border-bottom: .125em solid var(--base-color);
            border-left: .125em solid var(--base-color);
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2em;
        line-height: 1.11111111;
        text-transform: uppercase;
        text-align: center;

        @media screen and (max-width: 767px) {
            font-size: 1.125em;
        }

        &-inner {
            display: inline-block;
            padding-top: .0625em;
            padding-left: .9375em;
            padding-right: .9375em;
            background-color: var(--brand-color);

            @media screen and (max-width: 767px) {
                padding-left: 2.5em;
                padding-right: 2.5em;
            }
        }
    }

    &__content {

        &--top {
            padding-bottom: 1.5em;
            padding-left: 2em;
            padding-right: 1.8125em;
            border-bottom: .1875em solid var(--base-color);
            border-right: .1875em solid var(--base-color);

            @media screen and (max-width: 767px) {
                padding-bottom: 0;
                padding-left: 1.125em;
                padding-right: 1em;
                border-bottom: none;
                border-right: .125em solid var(--base-color);
            }
        }

        &--medium {
            padding-bottom: 1.5em;
            padding-left: 1.8125em;
            padding-right: 2em;
            border-bottom: .1875em solid var(--base-color);
            border-left: .1875em solid var(--base-color);

            @media screen and (max-width: 767px) {
                padding-bottom: 0;
                padding-left: 1.125em;
                padding-right: 1em;
                border-bottom: none;
                border-left: none;
                border-right: .125em solid var(--base-color);
            }
        }

        &--bottom {
            padding-left: 2em;
            padding-right: 1.8125em;
            border-right: .1875em solid var(--base-color);

            @media screen and (max-width: 767px) {
                padding-left: 1.125em;
                padding-right: 1em;
                border-right: .125em solid var(--base-color);
            }
        }

        &-inner {
            position: relative;
            top: -4.625em;
            display: flex;
            flex-flow: row nowrap;

            @media screen and (max-width: 767px) {
                top: -3.625em;
                flex-flow: column nowrap;
            }
        }
    }

    &__footer {
        padding-left: 2em;
        padding-right: 1.8125em;
        border-bottom: .1875em solid var(--base-color);
        border-right: .1875em solid var(--base-color);

        @media screen and (max-width: 767px) {
            padding-left: 1.125em;
            padding-right: 1em;
            border-bottom: .125em solid var(--base-color);
            border-right: .125em solid var(--base-color);
        }
    }

    &__item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        flex-shrink: 0;
        width: 33.33333333%;
        padding-left: 1em;
        padding-right: 1em;
        box-sizing: border-box;

        @media screen and (max-width: 767px) {
            width: 100%;
            max-width: 21.625em;
            margin-bottom: 1.625em;
        }

        &-pic {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 8.5em;
            height: 8.75em;
            margin-bottom: 1.9375em;
            border: .125em solid #cccccc;
            box-sizing: border-box;
            background-color: #ffffff;
            box-shadow: 0 0 0 .875em #ffffff;
            transition: border .3s var(--transition-timing-function), background-color .3s var(--transition-timing-function);

            @media screen and (max-width: 767px) {
                width: 7em;
                height: 7.125em;
                margin-bottom: 1.125em;
                box-shadow: none;
            }

            &--shadow {

                @media screen and (max-width: 767px) {
                    box-shadow: 0 0 0 .8125em #ffffff;
                }
            }

            &:hover {
                border: .125em solid var(--brand-color);
                background-color: var(--brand-color);
                cursor: pointer;
            }
        }

        &-title {
            margin-top: 0;
            margin-bottom: .53333333em;
            margin-left: -1em;
            margin-right: -1em;
            font-size: 1em;
            font-weight: 700;
            line-height: 1.37;
            text-transform: uppercase;
            text-align: center;

            @media screen and (max-width: 767px) {
                font-size: .9375em;
            }
        }

        &-text {
            margin-top: 0;
            margin-bottom: 0;
            font-size: .9375em;
            font-weight: 500;
            color: #676767;
            line-height: 1.27777778;
            text-align: center;

            @media screen and (max-width: 767px) {
                font-size: .875em;
            }
        }
    }

    &__slogan {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        max-width: 42em;
        margin-bottom: -4.375em;
        padding-top: 1.25em;
        padding-bottom: 1.25em;
        padding-left: 2.5625em;
        padding-right: 1.25em;
        box-sizing: border-box;
        background-color: var(--brand-color);

        @media screen and (max-width: 767px) {
            margin-bottom: -3em;
            padding: 1em;
        }

        &-icon {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 6.5em;
            height: 6.25em;
            background-color: var(--base-color);

            @media screen and (max-width: 767px) {
                width: 3.9em;
                height: 3.75em;
                padding: .5em;
                box-sizing: border-box;
            }
        }

        &-img {
            max-width: 100%;
            height: auto;
        }

        &-text {
            font-size: 2em;
            font-weight: 700;
            line-height: 1.18421053;
            text-transform: uppercase;

            @media screen and (min-width: 768px) and (max-width: 992px) {
                font-size: 1.875em;
            }

            @media screen and (max-width: 767px) {
                font-size: 1em;
            }

            span {
                font-size: 1.46875em;
            }
        }
    }

    &__descr {
        position: relative;
        top: .4375em;
        display: flex;
        flex-flow: column nowrap;
        align-self: flex-start;
        flex-shrink: 0;
        width: 65.78249337%;
        margin-left: auto;
        margin-right: -2em;
        box-sizing: border-box;

        @media screen and (max-width: 767px) {
            top: 2.5em;
            width: 100%;
            margin-bottom: 1.125em;
            margin-right: 0;
        }

        &-top {
            position: relative;
            padding: 1.83333333em 1.33333333em .166666667em;
            font-size: 1.5em;
            line-height: 1.14285714;
            text-transform: uppercase;
            text-align: center;
            background-color: #d1d3d4;

            @media screen and (max-width: 767px) {
                font-size: 1.125em;
            }

            &>span {
                font-size: 1.75em;
                font-weight: 700;
            }

            &-inner {
                position: absolute;
                top: -.833333333em;
                left: 0;
                right: 0;


                span {
                    display: inline-block;
                    padding: .70833333em;
                    font-size: .70833333em;
                    color: var(--brand-color);
                    background-color: var(--base-color);
                }
            }
        }

        &-bottom {
            padding: .54166667em;
            font-size: 1.5em;
            font-weight: 700;
            line-height: 1.14285714;
            text-transform: uppercase;
            text-align: center;
            background-color: var(--brand-color);

            @media screen and (max-width: 767px) {
                font-size: 1em;
            }
        }
    }
}

.hotel {

    &__inner {
        padding-left: 2em;
        padding-right: 1.8125em;
        border-top: .1875em solid var(--base-color);
        border-right: .1875em solid var(--base-color);

        @media screen and (max-width: 767px) {
            padding-left: 1.125em;
            padding-right: 1em;
            border-top: .125em solid var(--base-color);
            border-right: .125em solid var(--base-color);
        }
    }

    &__title {
        position: relative;
        top: -.59375em;
        margin-top: 0;
        margin-bottom: .75em;
        font-size: 2em;
        font-weight: 700;
        line-height: 1.11111111;
        text-transform: uppercase;
        text-align: center;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            font-size: 1.875em;
        }

        @media screen and (max-width: 767px) {
            font-size: 1.125em;
        }

        &-inner {
            display: inline-block;
            padding-top: .0625em;
            padding-left: .84375em;
            padding-right: .84375em;
            background-color: var(--brand-color);
        }
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 1.8125em;

        @media screen and (max-width: 767px) {
            flex-flow: column nowrap;
        }

        &-pic {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            align-self: flex-start;
            width: 70.0265252%;
            box-shadow: 0 .25em .25em rgba(0, 0, 0, .25);

            @media screen and (max-width: 767px) {
                width: 100%;
                max-width: 33em;
                margin-bottom: 1.125em;
            }

            &-inner {
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: 100%;
                min-width: 71.47385103%;
            }
        }

        &-img {
            max-width: 100%;
            height: auto;
        }

        &-price {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            padding-top: .17647059em;
            padding-bottom: .470588235em;
            padding-left: 1em;
            padding-right: .58823529em;
            font-size: 1.0625em;
            font-weight: 700;
            color: var(--base-color);
            line-height: 1.05263158;
            text-transform: uppercase;
            background-color: var(--brand-color);

            @media screen and (min-width: 768px) and (max-width: 992px) {
                font-size: .9375em;
            }

            @media screen and (max-width: 767px) {
                padding-top: .70588235em;
                padding-bottom: .64705882em;
                padding-left: 1em;
                padding-right: .58823529em;
                font-size: .75em;
                font-weight: 500;
            }

            span {
                margin-bottom: -.23529412em;
                margin-left: auto;
                font-size: 1.88235294em;

                @media screen and (max-width: 767px) {
                    margin-bottom: 0;
                    font-size: 1em;
                    font-weight: 900;
                }
            }
        }

        &-term {
            display: flex;
            flex-flow: row nowrap;
            font-size: 1.0625em;
            padding-top: .70588235em;
            padding-bottom: .64705882em;
            padding-left: 1em;
            padding-right: .58823529em;
            color: var(--brand-color);
            line-height: 1.05263158;
            text-transform: uppercase;
            background-color: var(--base-color);

            @media screen and (min-width: 768px) and (max-width: 992px) {
                font-size: .9375em;
            }

            @media screen and (max-width: 767px) {
                font-size: .75em;
            }

            span {
                margin-left: auto;
                font-weight: 700;
            }
        }

        &-area {
            display: none;

            @media screen and (max-width: 767px) {
                display: block;
                margin-bottom: 1.125em;
            }

            &-inner {
                display: inline-flex;
                flex-flow: row nowrap;
                align-items: center;
                height: 2em;
                padding-top: .125em;
                padding-left: 1.625em;
                padding-right: 1.75em;
                font-size: .9375em;
                text-transform: uppercase;
                background-color: #f1f2f2;

                strong {
                    position: relative;
                    margin-left: .2em;

                    sup {
                        position: absolute;
                        top: -.125rem;
                        right: -.5rem;
                        font-size: 65%;
                    }
                }
            }
        }

        &-plan {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            width: 28.38196286%;

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            &-pic {
                padding-top: 1.1875em;
                padding-bottom: 1.1875em;
                box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
                transition: box-shadow .3s var(--transition-timing-function);

                @media screen and (min-width: 768px) and (max-width: 992px) {
                    padding-top: .75em;
                    padding-bottom: .75em;
                }

                @media screen and (max-width: 767px) {
                    max-width: 21.625em;
                    padding-top: .25em;
                    padding-bottom: .25em;
                }

                &:hover {
                    box-shadow: 0 0 .5em rgba(0, 0, 0, .35);
                }

                &:first-child {
                    margin-bottom: .6875em;

                    @media screen and (max-width: 767px) {
                        margin-bottom: 1.125em;
                    }
                }
            }

            &-img {
                display: block;
                max-width: 100%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &__subcontent {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-bottom: 6.1875em;

        @media screen and (max-width: 767px) {
            flex-flow: column nowrap;
            padding-bottom: 4.75em;
        }

        &-inner {
            display: flex;
            flex-flow: column nowrap;
            width: 49.33687%;

            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }

        &-video {
            display: flex;
            flex-flow: row nowrap;
            align-self: flex-start;
            width: 49.33687%;
            box-shadow: 0 .25em .25em rgba(0, 0, 0, .25);

            @media screen and (max-width: 767px) {
                width: 100%;
                max-width: 21.625em;
            }

            &-inner {
                position: relative;
                overflow: hidden;
                width: 100%;
                padding-top: 56.25%;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &-title {
            margin-top: 0;
            margin-bottom: 1.17647059em;
            font-size: 1.0625em;
            font-weight: 700;
            text-transform: uppercase;

            @media screen and (max-width: 767px) {
                font-size: .9375em;
            }
        }

        &-list {
            margin-top: 0;
            margin-bottom: .5em;
            padding-left: 0;
            list-style: none;

            @media screen and (max-width: 767px) {
                margin-bottom: 1.125em;
            }

            &-item {
                position: relative;
                margin-bottom: .63333333em;
                padding-left: 1.6em;
                font-size: .9375em;
                font-weight: 500;
                line-height: 1.23333333;

                @media screen and (max-width: 767px) {
                    font-size: .875em;
                }

                &:before {
                    position: absolute;
                    top: .266666667em;
                    left: 0;
                    width: .73333333em;
                    height: .6em;
                    background-color: var(--brand-color);
                    content: '';
                }
            }
        }

        &-btn {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 2.8em;
            padding-left: 2.5em;
            padding-right: 2.5em;
            font-size: .9375em;
            font-weight: 700;
            line-height: 1.11111111;
            color: var(--brand-color);
            text-transform: uppercase;
            text-decoration: none;
            background-color: var(--base-color);
            transition: all .3s var(--transition-timing-function);

            @media screen and (min-width: 768px) and (max-width: 992px) {
                padding-left: 2.125em;
                padding-right: 2.125em;
                font-size: .875em;
            }

            &:hover {
                color: var(--base-color);
                background-color: var(--brand-color);
            }

            &-wrap {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                margin-top: auto;

                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }

        &-link {
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 2.8em;
            padding-left: 2.5em;
            padding-right: 2.5em;
            font-size: .75em;
            font-weight: 700;
            line-height: 1.11111111;
            color: var(--brand-color);
            text-transform: uppercase;
            text-decoration: none;
            background-color: var(--base-color);
            transition: all .3s var(--transition-timing-function);

            &:hover {
                color: var(--base-color);
                background-color: var(--brand-color);
            }

            &-wrap {
                display: none;

                @media screen and (max-width: 767px) {
                    display: block;
                    margin-top: 1.125em;
                }
            }
        }

        &-area {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 2.1em;
            padding-left: 1.9375em;
            padding-right: 1.9375em;
            font-size: 1.25em;
            text-transform: uppercase;
            background-color: #f1f2f2;

            @media screen and (min-width: 768px) and (max-width: 992px) {
                height: 2.16666667em;
                padding-left: 1.75em;
                padding-right: 1.75em;
                font-size: 1.125em;
            }

            strong {
                position: relative;
                margin-left: .2em;

                sup {
                    position: absolute;
                    top: -.125rem;
                    right: -.5rem;
                    font-size: 65%;
                }
            }
        }
    }
}

.modular {

    &__inner {
        padding-left: 1.8125em;
        padding-right: 2em;
        border-top: .1875em solid var(--base-color);
        border-left: .1875em solid var(--base-color);

        @media screen and (max-width: 767px) {
            padding-left: 1em;
            padding-right: 1.125em;
            border-top: .125em solid var(--base-color);
            border-left: .125em solid var(--base-color);
        }
    }

    &__title {
        position: relative;
        top: -.59375em;
        margin-top: 0;
        margin-bottom: .8em;
        font-size: 1.8125em;
        font-weight: 700;
        line-height: 1.11111111;
        text-transform: uppercase;
        text-align: center;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            padding-bottom: .125em;
            font-size: 1.625em;
        }

        @media screen and (max-width: 767px) {
            top: -1.11111111em;
            font-size: 1.125em;
        }

        &-inner {
            display: inline-block;
            padding-top: .0625em;
            padding-left: .75em;
            padding-right: .75em;
            background-color: var(--brand-color);
        }
    }

    &__content {
        margin-bottom: 1.75em;

        @media screen and (max-width: 767px) {
            margin-bottom: 1.125em;
        }

        &-pic {
            position: relative;
            box-shadow: 0 .25em .25em rgba(0, 0, 0, .25);

            @media screen and (max-width: 767px) {
                margin-bottom: 1.125em;
            }

            &:after {
                position: absolute;
                top: 12.25em;
                left: 100%;
                z-index: -2;
                width: 35.875em;
                height: 26.375em;
                background-color: #d1d3d4;
                content: '';

                @media screen and (max-width: 992px) {
                    content: none;
                }
            }

            &:before {
                position: absolute;
                top: 12.25em;
                bottom: -2em;
                right: -2em;
                z-index: -1;
                width: 2.25em;
                border: .25em solid #ffffff;
                content: '';

                @media screen and (max-width: 992px) {
                    content: none;
                }
            }

            &-inner {
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: 100%;
                min-width: 50%;
            }
        }

        &-img {
            max-width: 100%;
            height: auto;
        }

        &-price {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            padding-top: .17647059em;
            padding-bottom: .470588235em;
            padding-left: 1em;
            padding-right: .58823529em;
            font-size: 1.0625em;
            font-weight: 700;
            color: var(--base-color);
            line-height: 1.05263158;
            text-transform: uppercase;
            background-color: var(--brand-color);

            @media screen and (min-width: 768px) and (max-width: 992px) {
                font-size: .9375em;
            }

            @media screen and (max-width: 767px) {
                padding-top: .70588235em;
                padding-bottom: .64705882em;
                padding-left: 1em;
                padding-right: .58823529em;
                font-size: .75em;
                font-weight: 500;
            }

            span {
                margin-bottom: -.23529412em;
                margin-left: auto;
                font-size: 1.88235294em;

                @media screen and (max-width: 767px) {
                    margin-bottom: 0;
                    font-size: 1em;
                    font-weight: 900;
                }
            }
        }

        &-term {
            display: flex;
            flex-flow: row nowrap;
            font-size: 1.0625em;
            padding-top: .70588235em;
            padding-bottom: .64705882em;
            padding-left: 1em;
            padding-right: .58823529em;
            color: var(--brand-color);
            line-height: 1.05263158;
            text-transform: uppercase;
            background-color: var(--base-color);

            @media screen and (min-width: 768px) and (max-width: 992px) {
                font-size: .9375em;
            }

            @media screen and (max-width: 767px) {
                font-size: .75em;
            }

            span {
                margin-left: auto;
                font-weight: 700;
            }
        }

        &-area {
            display: none;

            @media screen and (max-width: 767px) {
                display: block;
                margin-bottom: 1.125em;
            }

            &-inner {
                display: inline-flex;
                flex-flow: row nowrap;
                align-items: center;
                height: 2em;
                padding-top: .125em;
                padding-left: 1.625em;
                padding-right: 1.75em;
                font-size: .9375em;
                text-transform: uppercase;
                background-color: #f1f2f2;

                strong {
                    position: relative;
                    margin-left: .2em;

                    sup {
                        position: absolute;
                        top: -.125rem;
                        right: -.5rem;
                        font-size: 65%;
                    }
                }
            }
        }

        &-plan {
            position: absolute;
            top: .875em;
            right: -2em;
            width: 41.77718833%;
            box-shadow: 0 0 0.25em rgba(0, 0, 0, .25);
            transition: box-shadow .3s var(--transition-timing-function);

            @media screen and (max-width: 767px) {
                display: none;
            }

            &:hover {
                box-shadow: 0 0 .5em rgba(0, 0, 0, .35);
            }

            &-img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    &__subcontent {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 5.25em;

        @media screen and (max-width: 767px) {
            flex-flow: column nowrap;
            padding-bottom: 4em;
        }

        &-plan {
            width: 41.77718833%;
            box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
            transition: box-shadow .3s var(--transition-timing-function);

            &--sm {
                display: none;

                @media screen and (max-width: 767px) {
                    display: block;
                }
            }

            @media screen and (max-width: 767px) {
                width: 100%;
                max-width: 21.625em;
                margin-bottom: 1.125em;
                padding-top: .5em;
                padding-bottom: .5em;
            }

            &:hover {
                box-shadow: 0 0 .5em rgba(0, 0, 0, .35);
            }

            &-img {
                max-width: 100%;
                height: auto;

                @media screen and (max-width: 767px) {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        &-inner {
            width: 50%;

            @media screen and (max-width: 767px) {
                width: 100%;
                margin-top: 1em;
            }
        }

        &-title {
            margin-top: 0;
            margin-bottom: 1.17647059em;
            font-size: 1.0625em;
            font-weight: 700;
            text-transform: uppercase;

            @media screen and (max-width: 767px) {
                font-size: .9375em;
            }
        }

        &-list {
            margin-top: 0;
            margin-bottom: 1.5em;
            padding-left: 0;
            list-style: none;

            &-item {
                position: relative;
                margin-bottom: .63333333em;
                padding-left: 1.6em;
                font-size: .9375em;
                font-weight: 500;
                line-height: 1.23333333;

                @media screen and (max-width: 767px) {
                    font-size: .875em;
                }

                &:before {
                    position: absolute;
                    top: .266666667em;
                    left: 0;
                    width: .73333333em;
                    height: .6em;
                    background-color: var(--brand-color);
                    content: '';
                }
            }
        }

        &-btn {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 2.8em;
            padding-left: 2.5em;
            padding-right: 2.5em;
            font-size: .9375em;
            font-weight: 700;
            line-height: 1.11111111;
            color: var(--brand-color);
            text-transform: uppercase;
            text-decoration: none;
            background-color: var(--base-color);
            transition: all .3s var(--transition-timing-function);

            @media screen and (min-width: 768px) and (max-width: 992px) {
                padding-left: 2.125em;
                padding-right: 2.125em;
                font-size: .875em;
            }

            @media screen and (max-width: 767px) {
                font-size: .75em;
            }

            &:hover {
                color: var(--base-color);
                background-color: var(--brand-color);
            }

            &-wrap {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                margin-top: auto;
            }
        }

        &-area {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 2.1em;
            padding-left: 1.9375em;
            padding-right: 1.9375em;
            font-size: 1.25em;
            text-transform: uppercase;
            background-color: #f1f2f2;

            @media screen and (min-width: 768px) and (max-width: 992px) {
                height: 2.16666667em;
                padding-left: 1.75em;
                padding-right: 1.75em;
                font-size: 1.125em;
            }

            @media screen and (max-width: 767px) {
                display: none;
            }

            strong {
                position: relative;
                margin-left: .2em;

                sup {
                    position: absolute;
                    top: -.125rem;
                    right: -.5rem;
                    font-size: 65%;
                }
            }
        }
    }
}

.decor {
    position: relative;

    &:after,
    &:before {
        position: absolute;
        content: '';
    }

    &--banner {

        @media screen and (max-width: 992px) {
            display: none;
        }

        &:after {
            top: -6.5em;
            left: calc(100% - 2.3125em);
            width: 21em;
            height: 15.875em;
            border-left: .1875em solid var(--base-color);
            box-sizing: border-box;
            background-color: var(--brand-color);
        }
    }

    &--slogan {

        &:after {
            bottom: 0;
            width: 50%;
            height: 5.375em;
            border-left: .1875em solid var(--brand-color);
            border-top: .1875em solid var(--brand-color);
            box-sizing: border-box;

            @media screen and (min-width: 768px) and (max-width: 992px) {
                height: 3.4375em;
            }

            @media screen and (max-width: 767px) {
                height: 3em;
                border-left: .125em solid var(--brand-color);
                border-top: .125em solid var(--brand-color);
            }

            @media screen and (max-width: 414px) {
                height: 4em;
            }
        }
    }

    &--stage-left {

        @media screen and (max-width: 992px) {
            display: none;
        }

        &:after {
            top: 7.5em;
            right: calc(100% + 6em);
            width: 28em;
            height: 75.625em;
            background-color: #f1f2f2;
        }
    }

    &--stage {

        @media screen and (max-width: 992px) {
            display: none;
        }

        &:after {
            top: 16.0625em;
            left: calc(100% + 11em);
            width: 23em;
            height: 70.25em;
            background-color: #d1d3d4;
        }
    }

    &--energy {

        @media screen and (max-width: 992px) {
            display: none;
        }

        &:before {
            top: 7.75em;
            right: calc(100% + 13.0625em);
            width: 20.875em;
            height: 72.5em;
            background-color: #f1f2f2;
        }

        &:after {
            top: 23.625em;
            left: calc(100% + 20.1875em);
            width: 13.75em;
            height: 37em;
            background-color: #d1d3d4;
        }
    }

    &--excellence {

        @media screen and (max-width: 992px) {
            display: none;
        }

        &:after {
            top: 0;
            left: calc(100% + 10.875em);
            width: 19.25em;
            height: 57em;
            background-color: #f1f2f2;
        }
    }

    &--contacts {

        @media screen and (max-width: 992px) {
            display: none;
        }

        &:before {
            top: 11.375em;
            right: calc(100% + 3.75em);
            width: 20.875em;
            height: 26em;
            background-color: #d0d3d4;
        }

    }

    &--contacts-bottom {

        @media screen and (max-width: 992px) {
            display: none;
        }

        &:after {
            bottom: 7.25em;
            left: calc(100% + 19.75em);
            width: 3.625em;
            height: 16em;
            background-color: var(--brand-color);
            box-shadow: 0 .25em .25em rgba(0, 0, 0, .25);
        }
    }
}
