a {
    color: inherit;
    transition: color .15s ease;
}

a:hover,
a:focus {
    color: #f7ba04;
}

.header {
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, .72);
}

.header__nav {
    position: absolute;
    top: 50%;
    left: 1rem;
    width: 2.125rem;
    margin-top: -1.0625rem;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in;
}

.header__nav-inner {
    position: absolute;
    top: 2.125rem;
    left: 0;
    right: 0;
    display: none;
    padding: .25rem 0;
    background-color: #474747;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

.header__nav-btn {
    position: relative;
    display: block;
    height: 2.125rem;
    font-size: 1rem;
    color: #f7ba04;
    line-height: 2.125rem;
    background-color: transparent;
    transition: all .2s ease-in .4s;
}

.header__nav-btn:after {
    position: absolute;
    top: -.125rem;
    right: -1.125rem;
    width: 1.125rem;
    height: 2.125rem;
    line-height: 2.125rem;
    content: url("../images/arrow-nav.png");
}

.header__nav-btn--active,
.header__nav:hover .header__nav-btn,
.header__nav:focus .header__nav-btn {
    color: #ffffff;
    background-color: #f7ba04;
    transition: all .2s ease-in;
}

.header__nav:hover,
.header__nav:focus {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

.header__nav-link {
    display: block;
    height: 2.125rem;
    font-size: 1rem;
    color: #ffffff;
    line-height: 2.125rem;
    text-decoration: none;
}

.header__nav-link:hover,
.header__nav-link:focus {
    color: #ffffff;
    text-decoration: underline;
}

.header__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.75rem;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.125;
    text-align: center;
}

.header__title--german {
    font-size: 2em;
}

.header__title--french {
    font-size: 1.875em;
}

.mod-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    background-color: #ffffff;

    @media screen and (max-width: 991px) {
        position: static;
    }

    &__banner {
        background-color: #474747;

        @media screen and (max-width: 991px) {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 6;
            width: 100%;
            background-color: #f7ba04;
        }

        &-inner {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: 991px) {
                min-height: 4rem;
            }
        }
    }

    &__email {
        flex: 1;
        align-self: flex-start;
        margin-top: .25rem;

        @media screen and (max-width: 991px) {
            display: none;
            margin-top: 0;
            margin-left: -1rem;
            margin-right: -1rem;
            padding-top: .25rem;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
            background-color: #474747;
        }

        &-link {
            font-size: .875em;
            font-weight: 700;
            color: #ffffff;
            text-decoration: none;
        }
    }

    &__contacts {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        align-self: flex-start;
        flex: 1;
        margin-top: .25rem;

        @media screen and (max-width: 991px) {
            display: none;
            margin-top: -1px;
            margin-left: -1rem;
            margin-right: -1rem;
            padding-bottom: .375rem;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
            background-color: #474747;
        }
    }

    &__phone {

        @media screen and (max-width: 991px) {
            display: inline-block;
        }

        &-link {
            font-size: .875em;
            font-weight: 700;
            color: #ffffff;
            text-decoration: none;
        }
    }

    &__slogan {
        flex: 3;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: .375rem;
        padding-bottom: .375rem;
        font-weight: 900;
        line-height: 1.25;
        text-align: center;
        background-color: #f7ba04;

        @media screen and (max-width: 991px) {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            padding-right: 2.8125rem;
            font-size: .875rem;
        }

        &-link {
            display: inline-block;
            font-size: .8125rem;
            text-transform: uppercase;

            @media screen and (max-width: 991px) {
                margin-left: .25rem;
                font-size: .75rem;
            }

            &:hover,
            &:focus {
                color: #000000;
                text-decoration: none;
            }
        }
    }

    &__base {
        background-color: #e5e5e5;

        &-inner {
            padding-top: 1.3125rem;
            padding-bottom: 1.3125rem;
            background-color: #474747;

            @media screen and (max-width: 767px) {
                padding: .875rem .625rem;
            }
        }
    }

    &__nav {
        position: relative;
        align-self: flex-start;
        flex-shrink: 0;
        width: 2.25rem;
        margin-right: 1rem;
        margin-top: .75rem;
        text-align: center;
        cursor: pointer;
        transition: all .2s ease-in;

        @media screen and (max-width: 991px) {
            width: 2.5rem;
            margin-right: .375rem;
            margin-top: 1rem;
        }

        &--active {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);

            @media screen and (max-width: 991px) {
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2) !important;
            }
        }

        &:hover,
        &:focus {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);

            @media screen and (max-width: 991px) {
                box-shadow: none;
            }

            .mod-header__nav-btn,
            .mod-header__nav-btn {
                transition: all .2s ease-in;
            }
        }

        &-inner {
            position: absolute;
            top: 2.125rem;
            left: 0;
            right: 0;
            z-index: 1;
            display: none;
            padding: .25rem 0;
            background-color: #ffffff;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);

            @media screen and (max-width: 991px) {
                top: 2.125rem;
            }
        }

        &-btn {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            height: 2.125rem;
            padding-left: .25rem;
            padding-right: .25rem;
            font-size: 1rem;
            line-height: 2.125rem;
            background-color: transparent;
            transition: all .2s ease-in .4s;

            &--active {
                color: #ffffff;
                transition: all .2s ease-in;
            }

            &:after {
                position: absolute;
                top: .875rem;
                right: -1.125rem;
                width: 1.125rem;
                height: 2.125rem;
                line-height: 2.125rem;
                content: url("../images/arrow-nav.png");
            }

            svg {
                max-width: 100%;
                height: auto;
            }
        }

        &-link {
            display: block;
            height: 1.875rem;
            padding-left: .25rem;
            padding-right: .25rem;
            color: #ffffff;
            text-decoration: none;

            &:hover,
            &:focus {
                color: #ffffff;
                text-decoration: underline;
            }

            svg {
                max-width: 100%;
                height: auto;
            }
        }
    }

    &__messengers {
        margin-top: -.25rem;

        @media screen and (max-width: 991px) {
            display: inline-block;
        }

        &-link {
            display: inline-block;
            margin-left: .25rem;
            text-decoration: none;

            &:hover,
            &:focus {

                svg {

                    rect {
                        fill: #f7ba04 !important;
                    }
                }
            }
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2.125rem;
        font-weight: 700;
        color: #ffffff;
        text-align: center;

        @media screen and (max-width: 991px) {
            font-size: 1.875rem;
        }

        @media screen and (max-width: 767px) {
            font-size: 1.625rem;
        }

        @media screen and (max-width: 414px) {
            font-size: 1.375rem;
        }
    }

    &__menu {

        @media screen and (max-width: 991px) {
            display: none;
            position: fixed;
            top: 4rem;
            left: 0;
            right: 0;
            z-index: 6;
            background-color: #ffffff;
        }

        &-wrap {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        &-inner {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: .375rem;
            padding-left: 0;

            @media screen and (max-width: 991px) {
                flex-flow: column nowrap;
                align-items: flex-start;
                margin-bottom: .5rem;
            }
        }

        &-item {
            margin-bottom: .375rem;
            margin-right: 1.25rem;

            @media screen and (max-width: 991px) {
                margin-bottom: .5rem;
            }
        }

        &-link {
            position: relative;
            display: block;
            padding: .25rem .25rem .25rem 1.875rem;
            font-size: .75rem;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
            text-decoration: none;

            &:hover,
            &:focus {
                color: #000000;

                &:before {
                    width: calc(100% + .125rem);
                }
            }

            &:before {
                position: absolute;
                top: .5rem;
                left: 0;
                z-index: -1;
                width: 1rem;
                height: .25rem;
                background-color: #f7ba04;
                transition: width .3s linear;
                content: '';
            }
        }
    }

    &__btn {
        display: none;

        &--open {

            .mod-header__btn-item:nth-child(1) {
                margin-bottom: -.0625rem;
                transform: rotate(45deg);
                transform-origin: center center;
            }

            .mod-header__btn-item:nth-child(2) {
                display: none;
            }

            .mod-header__btn-item:nth-child(3) {
                margin-top: -.0625rem;
                transform: rotate(-45deg);
                transform-origin: center center;
            }
        }

        @media screen and (max-width: 991px) {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            width: 2.8125rem;
            margin-left: -.5rem;
            margin-right: .5rem;
            padding: .5rem;
            border: none;
            box-sizing: border-box;
        }

        &:hover,
        &:focus,
        &:active {
            outline: none;
        }

        &-item {
            width: 100%;
            height: .125rem;
            margin-top: .1875rem;
            margin-bottom: .1875rem;
            background-color: #000000;
            transition: transform .3s ease;
        }
    }
}

.mod-main {
    margin-top: 7.875rem;

    @media screen and (max-width: 991px) {
        margin-top: 4rem;
    }
}

.anchor {
    display: block;
    position: relative;
    top: -7.875rem;
    visibility: hidden;

    @media screen and (max-width: 991px) {
        top: -3.875rem;
    }
}

.video {
    background-color: #e5e5e5;
}

.video--white {
    background-color: #ffffff;
}

.video__inner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.video__inner--white {
    background-color: #ffffff;
}

.video__text {
    margin-top: 1.75rem;
    margin-bottom: 4rem;
    padding: 0 5.375rem;
    font-size: 1.125rem;
    line-height: 1.444444;
    text-align: center;

    &--mod {
        margin-top: 4rem;
    }
}

.video__text--german {
    padding: 0 5.375rem;
}

.video__text-item {
    display: block;
}

.video__video {
    margin-bottom: 7rem;
}

.video__inner--white {
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}

.video__inner--white .video__video {
    margin: 4rem 0;
}

.video__video iframe {
    max-width: 100% !important;
}

.title-primary {
    margin-top: 0;
    margin-bottom: 0;
    padding: .875rem .5rem;
    font-size: 1.9375rem;
    font-weight: 900;
    color: #222222;
    background-color: #f7ba04;
    text-align: center;
}

.title-primary__item {
    display: block;
    line-height: 1.25;
}

.title-primary--fixed {
    margin-top: -2.25rem;
}

.section--materials {
    background: url("../images/bg-material.jpg") no-repeat 50% 2.25rem;
    background-size: cover;
}

.section__inner {
    padding: 4rem 9.25rem;
    border-bottom: 2px solid #000000;
    font-size: 1.125rem;

    &--address {
        padding: 3.125rem 1rem;
        border-bottom: none;
        background-color: #ffffff;

        @media screen and (max-width: 767px) {
            padding: 2.875rem 1rem !important;
        }

        @media screen and (max-width: 414px) {
            padding: 2.875rem 1rem;
        }
    }
}

.section__inner--materials {
    background-color: rgba(0, 0, 0, .1);
}

.section__address {
    margin-left: auto;
    margin-right: auto;
    font-style: normal;

    &-item {
        margin-top: 0;
        margin-bottom: .6875rem;
        font-size: 1.25rem;
        font-weight: 800;
        text-align: center;

        @media screen and (max-width: 767px) {
            font-size: 1.125rem;
        }

        @media screen and (max-width: 414px) {
            font-size: 1rem;
        }

        &:last-child {
            margin-bottom: 0;
        }

        span {
            display: inline-block;
        }

        a {
            position: relative;
            display: inline-block;
            text-decoration: none;

            &:after {
                position: absolute;
                bottom: .25rem;
                left: 0;
                right: 0;
                height: 1px;
                background-color: #000000;
                transition: background-color .15s ease;
                content: '';
            }

            &:hover,
            &:focus {

                &:after {
                    background-color: #f7ba04;
                }
            }
        }
    }
}

.section__text {
    margin-top: 0;
    margin-bottom: 2rem;
}

.ordered {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2.25rem;
    list-style: none;
}

.ordered-item {
    position: relative;
    margin-bottom: 1rem;
    counter-increment: item;
}

.ordered-item:last-child {
    margin-bottom: 0;
}

.ordered-item:before {
    position: absolute;
    top: -.375rem;
    left: -2.25rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: #a4a4a4;
    line-height: 1;
    content: counter(item);
}

.section--design {
    background-color: #e5e5e5;
}

.title-secondary {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2rem 0;
    border-bottom: 2px solid #000000;
    font-size: 1.9375rem;
    font-weight: 900;
    color: #222222;
    text-align: center;
    background-color: #ffffff;

    &--small {
        padding: 1.5rem 0;
        border-top: 2px solid #000000;

        @media screen and (max-width: 767px) {
            padding: 1rem 0 !important;
        }
    }
}

.title-secondary__item {
    display: block;
    line-height: 1.25;
}

.section__inner--design {
    border-bottom: none;
    background-color: #ffffff;
}

.unordered {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2.25rem;
    list-style: none;
}

.unordered__item {
    position: relative;
    margin-bottom: 1rem;
}

.unordered__item:last-child {
    margin-bottom: 0;
}

.unordered__item:before {
    position: absolute;
    top: .5rem;
    left: -2.25rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    border: 2px solid #f7ba04;
    background-color: #f7ba04;
    content: '';
}

.slider {
    padding-bottom: 4.5rem;
    background-color: #ffffff;
}

.slider__item {
    position: relative;
}

.slider__img {
    max-width: 100%;
    height: auto;
}

.slider__logo {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 7.5625rem;
    height: 3.625rem;
    background: url("../images/logo-slider.png") no-repeat 50% 50%;
}

.slider__thumbs {
    padding: .5625rem 5.5rem;
    background-color: #222222;
}

.slider__thumb {
    margin: 0 .25rem;
}

.slider__thumb:hover,
.slider__thumb:focus {
    outline: none;
    cursor: pointer;
}

.slider__thumb-img {
    max-width: 100%;
    height: auto;
}

.slider__arrow1,
.slider__arrow2 {
    position: absolute;
    top: 50%;
    z-index: 5;
    width: 1.75rem;
    height: 3rem;
    margin-top: -1.5rem;
    cursor: pointer;
}

.slider__arrow1--prev,
.slider__arrow2--prev {
    left: 1.75rem;
    background: url("../images/arrow-prev.png") no-repeat 50% 50%;
}

.slider__arrow1--next,
.slider__arrow2--next {
    right: 1.75rem;
    background: url("../images/arrow-next.png") no-repeat 50% 50%;
}

.kits__inner {
    display: flex;
    flex-flow: row wrap;
    padding-top: 3rem;
    border-bottom: 2px solid #000000;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}

.kits__item {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    margin-bottom: 3rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.kits__img {
    max-width: 100%;
    height: auto;
}

.kits__text {
    position: relative;
    margin-bottom: 3rem;
    padding-top: .375rem;
    padding-left: 4rem;
    font-size: 1.125rem;
}

.kits__text:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: 3px solid #000000;
    border-radius: 50%;
    background: url("../images/icon-select.png") no-repeat 50% 50%;
    background-size: 1.5rem;
    content: '';
}

.kits__text span {
    display: block;
}

.kits__pic {
    margin-top: auto;
    text-align: center;
}

.section--certificate {
    background: url("../images/bg-certificate.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.section__inner--certificate {
    display: flex;
    flex-flow: row nowrap;
    padding: 4rem 3.5rem;
    background-color: rgba(0, 0, 0, .1);
}

.section__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-basis: 50%;
}

.section__item--text {
    padding-right: 1rem;
}

.section__item-img {
    margin-left: auto;
}

.section__item-text {
    font-size: 1.125rem;
}

.section__item-text--selected {
    padding-left: 6rem;
    background: url("../images/icon-select.png") no-repeat 2.5rem 50%;
}

.section--cooperate {
    background-color: #e5e5e5;
}

.section__inner--cooperate {
    border-bottom: none;
    background-color: rgba(0, 0, 0, .1);
}

.unordered--inner {
    margin-top: 1rem;
}

.form {
    background-color: #e5e5e5;
}

.form__inner {
    padding-bottom: 2rem;
    background-color: #f7ba04;
}

.form__title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2.5rem 0;
    font-size: 2.1125rem;
    font-weight: 400;
    color: #222222;
    background-color: #f7ba04;
    text-align: center;
}

.form__title-item {
    display: block;
    line-height: 1.25;
}

.form__wrap {
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
}

.form__group {
    margin-bottom: 1.5rem;
}

.form__group--group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.form__group-item {
    width: calc(50% - .5rem);
}

.form__control {
    width: 100%;
    height: 3rem;
    padding: .5rem 1.5rem;
    border: 2px solid #ffffff;
    font-size: 1.125rem;
    color: #000000;
    background-color: #ffffff;
    transition: border .2s ease;
}

textarea.form__control {
    height: 9.5rem;
    min-height: 9.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.form__control::-webkit-input-placeholder { color: #929292; }

.form__control::-moz-placeholder          { color: #929292; opacity: 1; }

.form__control:-ms-input-placeholder      { color: #929292; }

.form__control:focus {
    border: 2px solid #222222;
    outline: none;
}

.form__btn-wrap {
    background-color: #f7ba04;
}

.form__btn {
    display: block;
    width: 100%;
    height: 3rem;
    padding: .5rem 1.5rem;
    border: 2px solid #5c5544;
    font-size: 1.125rem;
    color: #ffffff;
    background-color: #5c5544;
    transition: all .2s ease;
}

.form__btn:hover,
.form__btn:focus {
    border: 2px solid #222222;
    background-color: #222222;
    outline: none;
    cursor: pointer;
}

.form__btn-upload {
    display: inline-block;
    height: 2.875rem;
    margin-top: -.375rem;
    padding: .5rem 1.5rem;
    border: 2px solid #5c5544;
    font-size: 1.125rem;
    color: #5c5544;
    transition: all .2s ease;
}

.form__btn-upload:hover,
.form__btn-upload:focus {
    color: #ffffff;
    background-color: #5c5544;
    cursor: pointer;
}

.form__label-upload {
    margin-left: .375rem;
    color: #5c5544;
}

.form__hint {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: .9375rem;
    font-style: italic;
    color: #888888;
}

.projects {
    background-color: #e5e5e5;

    &__inner {
        border-top: 2px solid #000000;
        background-color: #ffffff;
    }

    &__carousel {
        position: relative;
        padding-top: 4.5em;
        padding-bottom: 3.25em;

        @media screen and (max-width: 1024px) {
            padding-left: 2.25em;
            padding-right: 2.25em;
        }

        @media screen and (max-width: 414px) {
            padding-left: 0;
            padding-right: 0;
        }

        &-item {
            padding-left: 1.25rem;
            padding-right: 1.25rem;

            @media screen and (max-width: 414px) {
                padding-left: 0;
                padding-right: 0;
            }

            &:focus {
                outline: none;
            }
        }

        &-subitem {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin-bottom: 1.25em;
            background-color: #f1f2f2;
            box-shadow: .5em .5em .375em -.125em rgba(0, 0, 0, .5);

            &-pic {
                position: relative;
                width: 64.50304259%;
            }

            &-content {
                width: 35.4969574%;
            }

            &-img {
                max-width: 100%;
                height: auto;
                margin-left: auto;
            }

            &-title {
                margin-bottom: 1em;
                margin-right: 1.625em;
                padding-top: 1.25em;
                padding-bottom: 1.25em;
                padding-left: 1em;
                font-weight: 700;
                color: #ffde17;
                line-height: 1;
                background-color: #000000;

                @media screen and (max-width: 414px) {
                    padding-top: .75em;
                    padding-bottom: .75em;
                }
            }

            &-price {
                margin-bottom: .2222222222em;
                padding-left: .88888889em;
                font-size: 1.125em;
                line-height: 1;

                @media screen and (max-width: 1024px) {
                    padding-left: 1em;
                    font-size: 1em;
                }

                @media screen and (max-width: 414px) {
                    padding-left: 1.14285714em;
                    font-size: .875em;
                }
            }

            &-area {
                padding-left: 1.33333333em;
                font-size: .75em;
                font-weight: 700;
            }

            &-plans {
                position: relative;
                z-index: 1;
                display: flex;
                flex-flow: row nowrap;
                width: 150%;
                margin-top: 1em;
                padding-left: 1em;

                @media screen and (max-width: 414px) {
                    margin-top: .75em;
                }

                &-pic {
                    margin-right: 1em;

                    @media screen and (max-width: 1024px) {
                        margin-right: .5em;
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }

                    @media screen and (max-width: 414px) {

                        &:nth-child(2) {
                            display: none;
                        }
                    }
                }
            }

            &-link {
                position: absolute;
                bottom: 1em;
                right: 1.875em;
                display: inline-flex;
                flex-flow: row nowrap;
                align-items: stretch;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
                background-color: #ffde15;
                transition: color .4s cubic-bezier(.55, .055, .675, .19);

                @media screen and (max-width: 414px) {
                    right: 1em;
                }

                &:focus,
                &:hover {
                    text-decoration: none;
                    outline: none;
                    cursor: pointer;

                    .projects__carousel-subitem-link-inner {
                        color: #ffde15;

                        &:after {
                            width: 100%;
                        }
                    }
                }

                &-inner {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    padding-left: 1em;
                    padding-right: 1em;
                    font-size: .75em;
                    font-weight: 700;
                    color: #000000;
                    line-height: 1;
                    text-transform: uppercase;
                    transition: color .4s cubic-bezier(.55, .055, .675, .19);

                    &:after {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        z-index: -1;
                        width: 0;
                        background-color: #000000;
                        transition: width .4s cubic-bezier(.55, .055, .675, .19);
                        content: "";
                    }
                }

                &-icon {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 1.75em;
                    height: 1.4375em;
                    background-color: #000000;

                    svg {
                        width: .5em;
                        height: auto;
                    }
                }
            }
        }

        &-arrow {
            position: absolute;
            top: 50%;
            margin-top: -1.5em;
            display: block;
            width: 2.25em;
            height: 3em;
            cursor: pointer;

            &--prev {
                left: -2.25em;
                background: #222222 url("../images/arrow-prev.png") no-repeat 50% 50%;

                @media screen and (max-width: 1024px) {
                    left: 0;
                }

                @media screen and (max-width: 414px) {
                    left: -1em;
                }
            }

            &--next {
                right: -2.25em;
                background: #222222 url("../images/arrow-next.png") no-repeat 50% 50%;

                @media screen and (max-width: 1024px) {
                    right: 0;
                }

                @media screen and (max-width: 414px) {
                    right: -1em;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {

    .header__nav:hover,
    .header__nav:focus {
        box-shadow: none;
    }

    .header__nav:hover .header__nav-btn,
    .header__nav:focus .header__nav-btn {
        color: #f7ba04;
        background-color: transparent;
        transition: none;
    }

    .header__nav-btn--active {
        color: #ffffff !important;
        background-color: #f7ba04 !important;
        transition: all .2s ease-in !important;
    }

    .header__title {
        font-size: 2.75rem;
    }

    .header__title--german {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .header__nav:hover,
    .header__nav:focus {
        box-shadow: none;
    }

    .header__nav:hover .header__nav-btn,
    .header__nav:focus .header__nav-btn {
        color: #f7ba04;
        background-color: transparent;
        transition: none;
    }

    .header__nav-btn--active {
        color: #ffffff !important;
        background-color: #f7ba04 !important;
        transition: all .2s ease-in !important;
    }

    .header__title {
        font-size: 2rem;
    }

    .title-primary {
        font-size: 1.875rem;
    }

    .title-secondary {
        font-size: 1.875rem;
    }

    .video__text--german,
    .video__text {
        padding: 0 4.5rem;
    }

    .section__inner {
        padding: 4rem 6rem;
    }

    .section__inner--certificate {
        flex-flow: column-reverse nowrap;
        padding: 4rem 6rem;
    }

    .section__item {
        flex-basis: 100%;
    }

    .section__item--text {
        padding-right: 0;
    }

    .section__item-img {
        max-width: 100%;
        height: auto;
        margin-bottom: 3rem;
        margin-right: auto;
    }
}

@media screen and (max-width: 767px) {

    .header {
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;
    }

    .header__nav:after {
        content: none;
    }

    .header__nav:hover,
    .header__nav:focus {
        box-shadow: none;
    }

    .header__nav:hover .header__nav-btn,
    .header__nav:focus .header__nav-btn {
        color: #f7ba04;
        background-color: transparent;
        transition: none;
    }

    .header__nav-btn--active {
        color: #ffffff !important;
        background-color: #f7ba04 !important;
        transition: all .2s ease-in !important;
    }

    .header__title {
        padding-left: 1.375rem;
        padding-right: 1.375rem;
        font-size: 1.75rem;
    }

    .header__nav {
        top: 1rem;
        left: .625rem;
        margin-top: 0;
    }

    .title-primary {
        padding: .875rem .5rem;
        font-size: 1.625rem;
    }

    .title-secondary {
        padding: 1.75rem .75rem;
        font-size: 1.625rem;
    }

    .video__text {
        padding: 0 4.5rem;
    }

    .section__inner {
        padding: 4rem 5rem;
    }

    .section__inner--certificate {
        flex-flow: column-reverse nowrap;
        padding: 4rem 5rem;
    }

    .section__item {
        flex-basis: 100%;
    }

    .section__item--text {
        padding-right: 0;
    }

    .section__item-img {
        max-width: 100%;
        height: auto;
        margin-bottom: 3rem;
        margin-right: auto;
    }

    .form__title {
        font-size: 1.625rem;
    }

    .form__wrap {
        padding-left: .75rem;
        padding-right: .75rem;
    }
}

@media screen and (max-width: 414px) {

    .header__title {
        font-size: 1.5rem;
    }

    .video__text {
        padding: 0;
    }

    .title-primary {
        font-size: 1.375rem;
    }

    .title-primary--fixed {
        margin-top: -2.75rem;
    }

    .title-primary__item {
        display: inline;
    }

    .section--materials {
        background: url(../images/bg-material.jpg) no-repeat 50% 2.75rem;
    }

    .title-secondary {
        font-size: 1.375rem;
    }

    .kits__inner {
        flex-flow: column nowrap;
        padding-top: 3rem;
    }

    .slider {
        padding-bottom: 3.75rem;
    }

    .section__inner {
        padding: 4rem 1rem;
    }

    .slider__thumbs {
        padding: .625rem 3.25rem;
    }

    .slider__arrow1--prev,
    .slider__arrow2--prev {
        left: .625rem;
    }

    .slider__arrow1--next,
    .slider__arrow2--next {
        right: .625rem;
    }

    .slider__logo {
        width: 5.5rem;
        height: 2.5rem;
        background-size: cover;
    }

    .form__title {
        padding: 2.5rem .5rem;
        font-size: 1.375rem;
    }

    .form__title-item {
        display: inline;
    }

    .form__group {
        margin-bottom: 1rem;
    }

    .form__group--group {
        flex-flow: column nowrap;
        margin-bottom: 0;
    }

    .form__group-item {
        width: 100%;
        margin-bottom: 1rem;
    }

    .kits__item {
        width: 100%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .video__video iframe {
        height: 18.5rem !important;
    }

}
