@font-face {
    font-family: 'Roboto';
    font-display: fallback;
    src: url(../fonts/roboto-regular-webfont.woff2) format('woff2'),
    url(../fonts/roboto-regular-webfont.woff) format('woff'),
    url(../fonts/roboto-regular-webfont.ttf) format('truetype'),
    url(../fonts/roboto-regular-webfont.svg#robotoregular) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: fallback;
    src: url(../fonts/roboto-black-webfont.woff2) format('woff2'),
    url(../fonts/roboto-black-webfont.woff) format('woff'),
    url(../fonts/roboto-black-webfont.ttf) format('truetype'),
    url(../fonts/roboto-black-webfont.svg#robotoblack) format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: fallback;
    src: url(../fonts/roboto-bold-webfont.woff2) format('woff2'),
    url(../fonts/roboto-bold-webfont.woff) format('woff'),
    url(../fonts/roboto-bold-webfont.ttf) format('truetype'),
    url(../fonts/roboto-bold-webfont.svg#robotobold) format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    font-display: fallback;
    src: url(../fonts/robotoslab-regular-webfont.woff2) format('woff2'),
    url(../fonts/robotoslab-regular-webfont.woff) format('woff'),
    url(../fonts/robotoslab-regular-webfont.ttf) format('truetype'),
    url(../fonts/robotoslab-regular-webfont.svg#roboto_slabregular) format('svg');
    font-weight: 400;
    font-style: normal;
}

