html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #ffde15;
  color: #fff;
}

::selection {
  background-color: #ffde15;
  color: #fff;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: #1c1c1c;
}

body input, body textarea {
  border: #666 1px solid;
  outline: none;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}

body input:required:valid, body textarea:required:valid {
  border-color: green;
}

img,
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

img.img-width,
.img-responsive.img-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

b, strong {
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a, button {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 400;
  line-height: 1.2;
}

p {
  margin-top: 0;
}

.ibg {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 30px;
  padding: 30px 5px 5px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: #ffde15;
  outline: none;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:focus {
  outline: none;
}

.hamburger.is-active {
  background-color: #000;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffde15;
}

.hamburger-box {
  width: 20px;
  height: 16px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 20px;
  height: 2px;
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -6px;
}

.hamburger-inner::after {
  bottom: -6px;
}

.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
       -o-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  -o-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  -o-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}

.my-row {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.page-header.scroll {
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.header-top {
  padding: 8px 0;
  background-color: #000;
  font-size: 14px;
}

.header-top-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1030px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header_lang {
  position: relative;
  text-align: center;
  cursor: pointer;
  min-width: 40px;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 10;
}

.header_lang_btn {
  position: relative;
  display: block;
  padding: 5px 10px;
  font-weight: 900;
  color: #ffde15;
  background-color: transparent;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.header_lang_btn::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -6px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #a7a9ac;
  border-right: 1px solid #a7a9ac;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  pointer-events: none;
}

.header_lang_btn:hover, .header_lang_btn:focus, .header_lang_btn.active {
  color: #fff;
  background-color: #ffde15;
}

.header_lang_inner {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
}

.header_lang_link {
  display: block;
  font-weight: 900;
  padding: 10px;
  color: #fff;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #000;
}

.header_lang_link:hover {
  color: #ffde15;
}

.header-phone a,
.header-email a,
.header-callback a {
  display: block;
  color: #a7a9ac;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px 10px;
}

.header-phone a:hover,
.header-email a:hover {
  color: #fff;
}

.header-callback a {
  position: relative;
  margin-right: 25px;
}

.header-callback a::before {
  content: "\003E";
  position: absolute;
  top: 0;
  right: -25px;
  padding: 5px 8px;
  color: #000;
  background-color: #ffde15;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  opacity: 0;
}

.header-callback a:hover {
  color: #000;
  background-color: #ffde15;
}

.header-callback a:hover::before {
  opacity: 1;
}

.header-search {
  min-width: 200px;
}

.header-search input[type="text"] {
  padding: 6px 10px;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

.header-search-btn {
  border: none;
  outline: none;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 12px;
  margin-left: 5px;
  cursor: pointer;
  display: none;
}

.header-acc {
  padding-left: 5px;
  padding-right: 5px;
}

.header-acc a {
  display: block;
  color: #ffde15;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px 5px;
}

.header-acc a:hover {
  color: #fff;
}

.header-bottom {
  position: relative;
  background-color: #fff;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.header-bottom::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  width: 30%;
  bottom: 0;
  background-color: #ffde15;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.header-bottom.scroll::before {
  opacity: 0;
}

.header-bottom.scroll .page-nav::after, .header-bottom.scroll .page-nav::before {
  opacity: 0;
}

.header-bottom-inner {
  max-width: 1030px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  position: relative;
}

.menu-toggle {
  display: none;
  z-index: 10;
}

.header-logo {
  max-width: 280px;
  padding: 13px 10px;
}

.mobile-logo {
  max-width: 200px;
  padding: 10px;
  display: none;
  background-color: #fff;
}

.page-nav {
  position: relative;
  padding: 14px 10px;
  width: 666px;
}

.page-nav::before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #ffde15;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.page-nav::after {
  content: "";
  width: 4px;
  background-color: #000;
  position: absolute;
  right: -15px;
  top: 20px;
  bottom: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-menu a {
  display: block;
  padding: 6px 10px 6px 40px;
  position: relative;
  z-index: 1;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1c1c1c;
}

.header-menu a:hover::before {
  width: 90%;
}

.header-menu a::before {
  content: "";
  height: 5px;
  width: 13px;
  background-color: #ffde15;
  position: absolute;
  left: 15px;
  top: 12px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: -1;
}

.page-title {
  font-size: 38px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0;
  margin: 0 auto;
  background-color: #fff;
  max-width: 1030px;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.page-title::before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.hero-section {
  padding-top: 135px;
  position: relative;
  padding-bottom: 50px;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 500px;
  background-color: #ffde15;
  z-index: -1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.video-wrapper {
  position: relative;
}

.video {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  /*padding-top: 30px;*/
  height: 0;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.video-label-wrapper {
  position: absolute;
  left: -25px;
  bottom: 7%;
  max-width: 70%;
}

.video-label {
  background-color: #1c1c1c;
  color: #ffde15;
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  padding: 10px 20px;
}

.house-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}

.house-item.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.house-item.reverse .house-label {
  right: auto;
  left: -20px;
  text-align: right;
}

.house-item.reverse .house-content::before {
  right: 0;
  left: auto;
}

.house-item.reverse .house-header {
  text-align: right;
}

.house-item.reverse .house-scheme {
  text-align: right;
}

.house-item.reverse .house-footer {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.house-img-wrapper {
  width: 48%;
  position: relative;
}

.house-img {
  height: 100%;
}

.house-label {
  position: absolute;
  top: 40px;
  left: auto;
  right: -20px;
  padding: 10px 15px;
  background-color: #1c1c1c;
  color: #ffde15;
  text-transform: uppercase;
  font-size: 18px;
  max-width: 300px;
}

.house-content {
  width: 48%;
  padding: 0 50px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.house-content::before {
  content: "";
  position: absolute;
  right: auto;
  left: 0;
  top: 0;
  width: 4px;
  height: 50%;
  background-color: #000;
}

.house-header {
  margin-bottom: 10px;
}

.house-title {
  font-size: 32px;
  text-transform: uppercase;
}

.house-title span {
  font-weight: 700;
}

.house-subtitle {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
}

.house-subtitle span {
  font-weight: 700;
}

.house-scheme img {
  max-height: 250px;
  display: inline-block;
}

.house-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: -10px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.house-footer.desktop-hide {
  display: none;
}

.house-footer.mobile-hide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.house-area {
  padding: 5px 15px;
  background-color: #f2f2f2;
  font-size: 28px;
  font-weight: 700;
  margin-right: 12px;
  margin-bottom: 10px;
}

.house-price {
  padding: 5px 15px;
  background-color: #1c1c1c;
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  margin-right: 12px;
  margin-bottom: 10px;
}

.house-order-btn {
  padding: 10px 25px;
  background-color: #ffde15;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1c1c1c;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.house-order-btn:hover {
  background-color: #1c1c1c;
  color: #ffde15;
}

.how-to-get {
  padding: 70px 0;
}

.section-title-wrapper {
  margin-bottom: 70px;
}

.section-title-wrapper.right {
  text-align: right;
  background: -webkit-gradient(linear, right top, left top, from(#1c1c1c), color-stop(25%, #1c1c1c), color-stop(25%, transparent), to(transparent));
  background: -webkit-linear-gradient(right, #1c1c1c 0%, #1c1c1c 25%, transparent 25%, transparent 100%);
  background: -o-linear-gradient(right, #1c1c1c 0%, #1c1c1c 25%, transparent 25%, transparent 100%);
  background: linear-gradient(to left, #1c1c1c 0%, #1c1c1c 25%, transparent 25%, transparent 100%);
}

.section-title-wrapper.left {
  text-align: left;
  background: -webkit-gradient(linear, left top, right top, from(#1c1c1c), color-stop(25%, #1c1c1c), color-stop(25%, transparent), to(transparent));
  background: -webkit-linear-gradient(left, #1c1c1c 0%, #1c1c1c 25%, transparent 25%, transparent 100%);
  background: -o-linear-gradient(left, #1c1c1c 0%, #1c1c1c 25%, transparent 25%, transparent 100%);
  background: linear-gradient(to right, #1c1c1c 0%, #1c1c1c 25%, transparent 25%, transparent 100%);
}

.section-title-wrapper.accent.right {
  text-align: right;
  background: -webkit-gradient(linear, right top, left top, from(#ffde15), color-stop(25%, #ffde15), color-stop(25%, transparent), to(transparent));
  background: -webkit-linear-gradient(right, #ffde15 0%, #ffde15 25%, transparent 25%, transparent 100%);
  background: -o-linear-gradient(right, #ffde15 0%, #ffde15 25%, transparent 25%, transparent 100%);
  background: linear-gradient(to left, #ffde15 0%, #ffde15 25%, transparent 25%, transparent 100%);
}

.section-title-wrapper.accent.left {
  text-align: left;
  background: -webkit-gradient(linear, left top, right top, from(#ffde15), color-stop(25%, #ffde15), color-stop(25%, transparent), to(transparent));
  background: -webkit-linear-gradient(left, #ffde15 0%, #ffde15 25%, transparent 25%, transparent 100%);
  background: -o-linear-gradient(left, #ffde15 0%, #ffde15 25%, transparent 25%, transparent 100%);
  background: linear-gradient(to right, #ffde15 0%, #ffde15 25%, transparent 25%, transparent 100%);
}

.section-title {
  display: inline-block;
  font-size: 42px;
  font-weight: 400;
  color: #ffde15;
  padding: 10px 0px;
  padding-left: 50px;
  margin-bottom: 0;
  background-color: #1c1c1c;
  text-transform: uppercase;
}

.section-title.accent {
  background-color: #ffde15;
  color: #1c1c1c;
  padding-left: 0;
  padding-right: 50px;
}

.features-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-item {
  width: 18%;
  padding: 30px 0 10px;
}

.feature-item:hover .feature-img {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.feature-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.feature-img.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-height: 115px;
}

.feature-img img {
  max-width: 128px;
}

.feature-title {
  margin-bottom: 15px;
  font-size: 22px;
  text-transform: uppercase;
  color: #060506;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feature-title span {
  font-size: 32px;
  color: #1c1c1c;
  background-color: #ffde15;
  display: inline-block;
  margin-right: 10px;
  padding: 2px 10px;
}

.feature-description {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
}

.section-cost {
  padding: 40px 0;
  position: relative;
}

.section-cost::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 42%;
  height: 100%;
  background-color: #f2f2f2;
  z-index: -1;
}

.cost-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cost-left {
  width: 50%;
  padding-left: 6%;
  padding-right: 13%;
  margin-bottom: 30px;
}

.cost-right {
  width: 50%;
}

.cost-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cost-list li {
  font-size: 20px;
  padding-left: 50px;
  position: relative;
  margin-bottom: 10px;
}

.cost-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 15px;
  height: 7px;
  background-color: #ffde15;
}

.cost-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
}

.cost-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.7;
  position: relative;
  padding-left: 35px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.cost-title::before {
  content: "";
  width: 4px;
  height: 86%;
  background-color: #1c1c1c;
  position: absolute;
  left: 0;
  top: 7%;
}

.cost-subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.communications {
  padding: 50px 0;
}

.section-energy {
  padding-bottom: 70px;
}

.energy-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.energy-left {
  width: 50%;
  padding-right: 5%;
  padding-top: 30px;
}

.energy-right {
  width: 50%;
  padding-left: 35px;
}

.energy-content {
  padding: 30px;
  background-color: #f2f2f2;
}

.energy-content p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
}

.energy-content p.bold {
  font-weight: 700;
}

.energy-description {
  font-size: 20px;
  font-weight: 700;
  padding-left: 20px;
  border-left: 3px solid #1c1c1c;
  max-width: 50%;
}

.section-questions {
  padding: 40px 0 20px;
  background-color: #ffde15;
}

.questions-title {
  text-align: center;
  max-width: 70%;
  margin: 0 auto 40px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.question-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -15px;
}

.question-form .form-group {
  margin-bottom: 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 15px;
}

.question-form .form-group input[type="text"] {
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 15px 20px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.question-form .submit-wrapper {
  margin-bottom: 20px;
  padding-right: 15px;
}

.button-black {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #1c1c1c;
  padding: 15px 20px;
  width: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.button-black:hover, .button-black:focus {
  color: #ffde15;
  outline: none;
}

.section-info {
  padding: 50px 0 40px;
}

.section-info .section-info-title {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section-info h1, .section-info h2, .section-info h3, .section-info h4, .section-info h5, .section-info h6 {
  margin-bottom: 15px;
  font-weight: 700;
}

.section-info p {
  font-size: 14px;
}

.section-info ul, .section-info ol {
  font-size: 14px;
}

.seo-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.seo-text-left,
.seo-text-right {
  width: 47%;
}

.page-footer {
  background-color: #231f20;
}

.footer-top {
  max-width: 730px;
  margin: 0 auto;
}

.footer-info {
  padding: 40px 0px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-phone,
.footer-email {
  margin-bottom: 10px;
}

.footer-phone a,
.footer-email a {
  font-size: 14px;
  display: block;
  color: #a7a9ac;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px 10px;
}

.footer-phone a:hover,
.footer-email a:hover {
  color: #ffde15;
}

.footer-social {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 15px;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social li {
  margin: 0 7px;
}

.footer-social a {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
  color: #fff;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.footer-social a:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.social-fb a {
  background-image: url(../img/icons/icon-facebook.png);
}

.social-inst a {
  background-image: url(../img/icons/icon-instagram.png);
}

.social-youtube a {
  background-image: url(../img/icons/icon-youtube.png);
}

.footer-bottom {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-menus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu-item {
  width: 25%;
  padding: 15px 10px;
}

.footer-big-link {
  font-size: 14px;
  display: block;
  color: #a7a9ac;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer-big-link:hover {
  color: #fff;
}

.footer-menu {
  margin: 0%;
  padding: 0;
  list-style-type: none;
}

.footer-menu li {
  padding: 5px 0;
}

.footer-menu a {
  display: block;
  font-size: 14px;
  color: #fff;
}

.footer-menu a:hover {
  color: #ffde15;
}

.footer-menu.tags li {
  display: inline-block;
}

.footer-tags-title {
  font-size: 14px;
  font-weight: 900;
  color: #808285;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  line-height: 1.8;
  margin-bottom: 0;
}

.footer-tags-title:hover {
  color: #fff;
}

.footer-copy {
  text-align: center;
  padding: 15px 0px 25px;
  font-size: 12px;
  color: #808285;
}

.footer-copy p {
  margin-bottom: 0;
}

.modal-open {
  overflow: hidden;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 320px;
  left: 50%;
  z-index: 999;
  overflow-y: auto;
}

.popup.accent {
  background-color: #ffde15;
}

.popup-logo {
  padding: 35px 0;
  background-color: #ffde15;
  position: relative;
  text-align: center;
}

.popup-logo a {
  display: inline-block;
}

.popup-logo img {
  max-width: 150px;
}

.popup-close {
  width: 25px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #000;
  border: none;
  outline: none;
  color: #ffde15;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  padding: 0;
  line-height: 40px;
  cursor: pointer;
}

.popup-close:focus {
  outline: none;
}

.popup-body {
  background-color: #000;
  padding: 40px 50px;
}

.popup-body.accent {
  background-color: #ffde15;
  padding: 0 30px 40px;
}

.popup-body.accent .input-container input {
  color: #1c1c1c;
  background-color: #fff;
}

.popup-body.accent .input-container label {
  color: #1c1c1c;
  z-index: 1;
  top: -7px;
  left: 10px;
}

.popup-body.accent .popup-submit {
  background-color: #1c1c1c;
  color: #fff;
}

.popup-body.accent .popup-submit:hover {
  color: #ffde15;
}

.popup-body .input-container {
  position: relative;
  margin-bottom: 20px;
}

.popup-body .input-container input {
  outline: 0;
  z-index: 1;
  position: relative;
  background: 0 0;
  width: 100%;
  height: 45px;
  border: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.popup-body .input-container input:focus ~ label {
  color: #807c7c;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
      -ms-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}

.popup-body .input-container input:focus ~ .bar::before,
.popup-body .input-container input:focus ~ .bar::after {
  width: 50%;
}

.popup-body .input-container input:valid ~ label {
  color: #807c7c;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
      -ms-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}

.popup-body .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 14px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.popup-body .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}

.popup-body .input-container .bar::before, .popup-body .input-container .bar::after {
  content: "";
  position: absolute;
  background: #ffde15;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.popup-body .input-container .bar::before {
  left: 50%;
}

.popup-body .input-container .bar::after {
  right: 50%;
}

.popup-body .popup-text {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.popup-submit {
  border: none;
  outline: none;
  background-color: #ffde15;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 15px;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.popup-submit:hover {
  background-color: #fff;
}
#desktop-footer-left {
  justify-content: center;
}

.house-icon-fb {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#fb_b {
  width: 100%;
}
#fb_b:hover {
  animation: fb .5s ease-in;
}
@keyframes fb {
  0%{transform: scale(1);}
  50%{transform: scale(1.1);}
  100%{transform: scale(1);}
}

/*==========  Desktop First  ========== */
@media only screen and (max-width: 1500px) {
  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
  .section-cost::before {
    width: 45%;
  }
}

@media only screen and (max-width: 1366px) {
  .feature-item {
    width: 20%;
  }
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .house-footer.mobile-hide {
    width: 550px;
  }
}

@media only screen and (max-width: 1199px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .video-label-wrapper {
    left: -15px;
  }
  .video-label {
    font-size: 26px;
  }
  .house-img-wrapper {
    width: 49%;
  }
  .house-item {
    padding: 50px 0;
  }
  .house-item.reverse .house-label {
    left: -10px;
  }
  .house-content {
    width: 49%;
    padding: 0 28px;
  }
  .house-content::before {
    display: none;
  }
  .house-label {
    right: -10px;
    font-size: 18px;
    top: 30px;
  }
  .house-title {
    font-size: 28px;
  }
  .house-subtitle {
    font-size: 18px;
  }
  .house-area {
    font-size: 20px;
    margin-right: 10px;
  }
  .house-price {
    font-size: 20px;
    margin-right: 10px;
  }
  .house-order-btn {
    font-size: 16px;
    padding: 8px 20px;
  }
  .feature-item {
    width: 25%;
    padding: 30px 20px;
  }
  .how-to-get {
    padding: 50px 0;
  }
  .section-title-wrapper {
    margin-bottom: 50px;
  }
  .section-title {
    font-size: 32px;
    padding-left: 30px;
  }
  .section-title.accent {
    padding-right: 30px;
  }
  .section-cost::before {
    width: 50%;
  }
  .cost-left {
    padding-left: 30px;
    padding-right: 30px;
  }
  .cost-right {
    padding-left: 30px;
    padding-right: 30px;
  }
  .communications {
    padding: 40px 0;
  }
  .page-title {
    font-size: 30px;
  }
  .energy-description {
    max-width: 60%;
  }
  .house-icon-fb {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 1060px) {
  .page-nav::after {
    opacity: 0;
  }
  .page-title::before {
    opacity: 0;
  }
  .hero-section::before {
    opacity: 0;
  }
  .header-bottom::before {
    opacity: 0;
  }
  #desktop-footer-left {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 991px) {
  .header-top {
    font-size: 10px;
  }
  .header_lang_btn::after {
    top: 9px;
  }
  .header-search {
    max-width: 150px;
    min-width: 150px;
  }
  .page-nav {
    padding: 10px 10px;
  }
  .header-menu a {
    font-size: 10px;
    padding-left: 20px;
  }
  .header-menu a::before {
    left: 4px;
  }
  .hero-section {
    padding-top: 130px;
  }
  .video-label {
    font-size: 20px;
  }
  .house-label {
    padding: 5px 15px;
    font-size: 16px;
    top: 20px;
  }
  .house-title {
    font-size: 24px;
  }
  .house-subtitle {
    font-size: 16px;
  }
  .house-area {
    font-size: 16px;
    margin-right: 6px;
  }
  .house-price {
    font-size: 16px;
    margin-right: 6px;
  }
  .house-order-btn {
    font-size: 14px;
    padding: 6px 15px;
  }
  .house-scheme img {
    max-height: 200px;
  }
  .feature-img {
    margin-bottom: 30px;
  }
  .feature-img img {
    max-width: 100px;
  }
  .feature-title {
    font-size: 16px;
  }
  .feature-title span {
    font-size: 26px;
    padding: 2px 10px;
  }
  .feature-description {
    font-size: 15px;
  }
  .section-title-wrapper {
    margin-bottom: 40px;
  }
  .section-title {
    font-size: 26px;
    padding-left: 25px;
  }
  .section-title.accent {
    padding-right: 25px;
  }
  .cost-list li {
    padding-left: 35px;
    font-size: 18px;
  }
  .cost-list li::before {
    top: 9px;
  }
  .cost-title {
    font-size: 22px;
    line-height: 1.5;
    padding-left: 25px;
    margin-bottom: 25px;
  }
  .cost-subtitle {
    font-size: 18px;
  }
  .energy-content p {
    font-size: 18px;
  }
  .energy-left {
    padding-right: 20px;
    padding-top: 0;
  }
  .energy-right {
    padding-left: 20px;
  }
  .section-energy {
    padding-bottom: 50px;
  }
  .questions-title {
    font-size: 26px;
    max-width: 80%;
    margin-bottom: 25px;
  }
  .page-title {
    font-size: 26px;
  }
  .energy-description {
    max-width: 70%;
  }
  .question-form .form-group input[type="text"] {
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
  }
  .button-black {
    font-size: 16px;
    padding: 10px 20px;
    width: 160px;
  }
  #desktop-footer-left {
    justify-content: flex-start;
  }
  .section-info {
    padding: 40px 0 30px;
  }
  .house-icon-fb {
    width: 34px;
    height: 34px;
  }
}

@media only screen and (max-width: 767px) {
  .page-header {
    background-color: #fff;
  }
  .header-top {
    width: 100%;
    padding: 30px 0;
    font-size: 14px;
  }
  .header-top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-acc {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 5px;
  }
  .header-email {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .header-email a {
    color: #ffde15;
    margin-bottom: 5px;
  }
  .header-phone {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .header-phone a {
    color: #ffde15;
    margin-bottom: 10px;
  }
  .header-callback {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .header-callback a {
    color: #000;
    background-color: #ffde15;
  }
  .header-callback a::before {
    opacity: 1;
  }
  .header-search {
    display: none;
    margin-top: 15px;
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
    min-width: 246px;
    max-width: none;
  }
  .header-search input[type="text"] {
    display: inline-block;
    width: 80%;
  }
  .header-search-btn {
    display: inline-block;
    height: 100%;
  }
  .header_lang {
    min-width: auto;
    width: 100%;
    padding: 30px 0;
  }
  .header_lang_btn {
    display: none;
  }
  .header_lang_inner {
    display: inline-block !important;
    position: static;
  }
  .header_lang_link {
    display: inline-block;
    margin-right: 5px;
    color: #ffde15;
    font-size: 12px;
  }
  .menu-toggle {
    display: block;
    right: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header-logo {
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header-menu {
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header-bottom {
    position: fixed;
    top: 0px;
    right: 30px;
    width: 30px;
    height: 60px;
    background-color: #ffde15;
    overflow: hidden;
    z-index: 100;
    -webkit-transition: width .2s linear .9s,height .3s linear .5s,right .1s linear 1s;
    -o-transition: width .2s linear .9s,height .3s linear .5s,right .1s linear 1s;
    transition: width .2s linear .9s,height .3s linear .5s,right .1s linear 1s;
  }
  .header-bottom.active {
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: width .2s linear, height .6s linear .2s;
    -o-transition: width .2s linear, height .6s linear .2s;
    transition: width .2s linear, height .6s linear .2s;
  }
  .header-bottom.active .menu-toggle {
    display: block;
    right: 30px;
  }
  .header-bottom.active .header-logo {
    opacity: 1;
  }
  .header-bottom.active .header-menu {
    opacity: 1;
  }
  .header-bottom-inner {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #ffde15;
  }
  .header-logo {
    max-width: 220px;
  }
  .page-nav {
    width: 100%;
    padding: 0;
  }
  .header-menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .header-menu li {
    border-top: 1px solid #000;
  }
  .header-menu a {
    text-align: center;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    padding: 10px 20px;
  }
  .header-menu a::before {
    display: none;
  }
  .mobile-logo {
    display: block;
  }
  .video-label-wrapper {
    left: 0;
    position: static;
    max-width: none;
    width: 100%;
  }
  .video-label {
    font-size: 16px;
  }
  .hero-section {
    padding-top: 80px;
  }
  .house-item {
    padding: 40px 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .house-item.reverse .house-label {
    left: 0;
  }
  .house-title {
    font-size: 20px;
  }
  .house-label {
    right: 0;
  }
  .house-footer {
    width: 100%;
  }
  .house-footer.desktop-hide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .house-footer.mobile-hide {
    display: none;
  }
  .features-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feature-item {
    width: 40%;
    padding: 20px;
  }
  .footer-info {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer-social {
    min-width: 200px;
  }
  .footer-menus {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .footer-menu-item {
    width: 100%;
  }
  .footer-big-link {
    margin-bottom: 15px;
  }
  .how-to-get {
    padding: 40px 0;
  }
  .section-title-wrapper {
    margin-bottom: 30px;
  }
  .section-title {
    font-size: 20px;
  }
  .cost-left {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cost-right {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cost-list li {
    padding-left: 30px;
    font-size: 16px;
  }
  .cost-list li::before {
    top: 8px;
  }
  .cost-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .cost-subtitle {
    font-size: 16px;
  }
  .communications {
    padding: 30px 0;
  }
  .energy-content p {
    font-size: 16px;
  }
  .section-energy {
    padding-bottom: 40px;
  }
  .questions-title {
    font-size: 20px;
    max-width: none;
  }
  .page-title {
    font-size: 22px;
    padding: 20px 0;
  }
  .energy-description {
    max-width: none;
    font-size: 16px;
  }
  .seo-text {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .seo-text-left,
  .seo-text-right {
    width: 100%;
  }
  .question-form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .question-form .form-group input[type="text"] {
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
  }
  .button-black {
    font-size: 16px;
    padding: 10px 20px;
    width: 160px;
  }
}

@media only screen and (max-width: 660px) {
  .house-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .house-img-wrapper {
    padding: 0 20px;
    width: 100%;
    height: 250px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .house-content {
    width: 100%;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 20px;
  }
  .house-footer.desktop-hide {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .section-cost::before {
    width: 100%;
  }
  .cost-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .cost-left {
    width: 100%;
  }
  .cost-right {
    width: 100%;
  }
  .cost-right-title {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 0;
    margin-top: 30px;
  }
  .energy-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .energy-left {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
  }
  .energy-left .cost-right-title {
    margin-top: 0;
  }
  .energy-right {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .energy-content {
    padding: 20px;
  }
  #mobile-footer-left {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 576px) {
  .header-bottom {
    right: 20px;
  }
  .header-bottom.active .menu-toggle {
    right: 20px;
  }
  .popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .popup-inner {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popup-body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .feature-item {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .feature-item {
    width: 100%;
  }
  .cost-left {
    padding: 0;
  }
  .cost-right {
    padding: 0;
  }
  .energy-left {
    padding: 0;
  }
  .energy-right {
    padding: 0;
  }
}

/*==========  Mobile First  ========== */
