.footer {
    background-color: #231f20;

    &__inner {
        margin-left: 20%;

        @media all and (max-width: 767px) {
            margin-left: 0;
        }

        &-list {
            display: flex;
            flex-flow: row wrap;
            margin: 0;
            padding: 2.5em 0 0;
            list-style: none;

            @media screen and (max-width: 767px) {
                margin-bottom: .5em;
            }
        }

        &-item {
            margin-right: 1.53846154em;
            font-size: .8125em;
            font-weight: 900;
            line-height: 2.30769231em;
            color: #808285;

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            &--social {
                margin-right: .46153846em;

                @media screen and (max-width: 767px) {
                    width: initial;
                    margin-top: .61538462em;
                    margin-right: .61538462em;
                }

                &:last-of-type {
                    margin-left: .38461538em;
                    margin-right: 0;
                }

                &-first {

                    @media screen and (max-width: 767px) {
                        margin-left: -.61538462em;
                    }
                }
            }
        }

        &-link {
            color: #808285;
            text-decoration: none;
            transition: color .3s var(--transition-timing-function);

            &:focus,
            &:hover {
                color: var(--brand-color);
                text-decoration: none;
            }

            &--social {
                display: block;
                width: 28px;
                height: 30px;
                background-image: url(../images/social-icon-sprite.png);
                background-repeat: no-repeat;
                filter: contrast(0);
                transition: filter .3s var(--transition-timing-function);

                &:focus,
                &:hover {
                    filter: contrast(1);
                }
            }

            &--fb {
                background-position: -15px -46px;
            }

            &--inst {
                background-position: -16px -208px;
            }

            &--yt {
                background-position: -17px -372px;
            }

        }
    }

    &__copyright {
        margin-bottom: 2em;
        font-size: .75em;
        text-align: center;
        color: #808285;

        @media screen and (max-width: 767px) {
            text-align: left;
        }
    }

    &__menu {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 1em;
        padding-top: 1.625em;

        @media screen and (max-width: 767px) {
            flex-flow: column nowrap;
        }

        &-item {
            flex-grow: 1;
            flex-shrink: 1;

            @media screen and (max-width: 767px) {
                margin-bottom: 1em;
            }

            &:nth-child(1) {
                order: 4;
                flex-basis: 26.66666666666667%
            }

            &:nth-child(2) {
                order: 1;
                flex-basis: 20%;
            }

            &:nth-child(3) {
                order: 2;
                flex-basis: 26.66666666666667%;
            }

            &:nth-child(4) {
                order: 3;
                flex-basis: 26.66666666666667%;
            }

            &-title {
                display: inline-block;
                margin-bottom: 2em;
                font-size: .875em;
                font-weight: 700;
                color: #808285;
                text-decoration: none;
                text-transform: uppercase;
                transition: color .3s var(--transition-timing-function);

                @media screen and (max-width: 767px) {
                    margin-bottom: .85714286em;
                }

                &:hover,
                &:focus {
                    color: #ffffff;
                }
            }
        }
    }

    &__data {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 1em;
        padding-top: 2.625em;

        @media screen and (max-width: 767px) {
            flex-flow: column nowrap;
            margin-bottom: 0;
        }

        &-item {
            width: calc(50% - 3em);

            &:last-child {

                @media screen and (max-width: 767px) {
                    margin-bottom: 0;
                }
            }

            @media screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 3em;
            }
        }

        &-title {
            margin-bottom: 2em;
            font-size: .875em;
            font-weight: 700;
            color: #808285;
            text-decoration: none;
            text-transform: uppercase;

            @media screen and (max-width: 767px) {
                margin-bottom: .85714286em;
            }
        }

        &-text {
            font-size: .875em;
            color: #fff;
            line-height: 2;
            text-align: justify;

            @media screen and (max-width: 767px) {
                text-align: left;
            }
        }

        &-gallery {
            position: relative;
            padding-left: 2em;
            padding-right: 2em;
        }

        &-link {
            display: block;
            padding: 1em;
        }

        &-img {
            max-width: 100%;
            height: auto;
        }

        &-arrow {
            position: absolute;
            top: 50%;
            margin-top: -1em;
            width: 2em;
            height: 2em;
            cursor: pointer;

            &_prev {
                left: 0;
                background: url(../images/icon-arrow-prev.svg) no-repeat 50% 50%;
            }

            &_next {
                right: 0;
                background: url(../images/icon-arrow-next.svg) no-repeat 50% 50%;
            }
        }
    }

    &__submenu {
        margin-top: 0;
        padding-left: 0;
        list-style: none;

        &-children {
            font-size: .875em;
            font-weight: 900;
            line-height: 2;
            color: #808285;
        }

        &-link {
            font-size: .875em;
            color: #ffffff;
            line-height: 2;
            text-decoration: none;
            transition: color .3s var(--transition-timing-function);

            &:hover,
            &:focus {
                color: var(--brand-color);
            }
        }
    }
}
