.header {

    &__wrap {
        position: fixed;
        top: 0;
        z-index: 99999;
        width: 100%;
        height: 2.8125em;
        background-color: var(--base-color);

        @media screen and (min-width: 768px) and (max-width: 992px) {
            max-width: 992px;
            min-height: 32px;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: .1875em 0;
        padding-left: 0;
        list-style: none;

        &-link {
            font-size: .8125em;
            font-weight: 900;
            color: #a7a9ac;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 3;
            transition: color .3s var(--transition-timing-function);

            &:hover,
            &:focus {
                color: #ffffff;
            }

            &--login {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                color: var(--brand-color);

                svg {
                    margin-top: -.07692308em;
                    margin-right: .46153846em;
                    fill: var(--brand-color);
                    transition: fill .3s var(--transition-timing-function);
                }

                &:hover,
                &:focus {
                    color: #ffffff;

                    svg {
                        fill: #ffffff;
                    }
                }
            }

            &--callback {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 1.15384615em;
                padding: 0 .23076923em;
                box-sizing: border-box;
                transition: all .3s var(--transition-timing-function);

                &:after {
                    position: absolute;
                    left: calc(100% + 2px);
                    height: 1.15384615em;
                    width: 1.84615384em;
                    background: var(--base-color) url(../images/arrww.png) no-repeat 50% 1px;
                    content: '';
                    transition: all .3s var(--transition-timing-function);

                    @media screen and (max-width: 1024px) {
                        content: none;
                    }
                }

                &:hover,
                &:focus {
                    color: var(--base-color);
                    background-color: var(--brand-color);

                    &:after {
                        background: var(--brand-color) url(../images/arrww.png) no-repeat 50% 1px;
                    }
                }

                span {
                    margin-right: 3px;

                    @media screen and (max-width: 1024px) {
                        display: none;
                    }
                }
            }
        }

        &-form {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        &-input {
            width: 11.125rem;
            height: 1.875rem;
            padding: .375rem .5rem;
            border: none;
            font-family: var(--base-font);
            font-size: .75em;
            font-weight: 700;
            color: var(--base-color);
            background-color: #ffffff;

            @media screen and (min-width: 768px) and (max-width: 992px) {
                width: 7.5rem;
            }

            &::-webkit-input-placeholder {
                color: var(--base-color) !important;
                opacity: 1 !important;
            }

            &::-moz-placeholder {
                color: var(--base-color) !important;
                opacity: 1 !important;
            }

            &:focus {
                outline: none;
            }
        }

        &-btn {
            width: 2.25rem;
            height: 1.875rem;
            border: none;
            background-color: var(--brand-color);
            transition: all .3s var(--transition-timing-function);

            svg {
                fill: #ffffff;
            }

            &:hover,
            &:focus {
                background-color: #a7a9ac;
                cursor: pointer;
                outline: none;
            }
        }
    }

    &__lang {
        position: relative;
        width: 2.25em;
        margin-left: -.5em;
        text-align: center;
        cursor: pointer;

        &:hover,
        &:focus {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);

            @media screen and (max-width: 1024px) {
                box-shadow: none;
            }
        }

        &:hover,
        &:focus {

            .header__lang-btn {
                color: #ffffff;
                background-color: var(--brand-color);
                transition: all .2s ease-in;

                @media screen and (max-width: 1024px) {
                    color: var(--brand-color);
                    background-color: transparent;
                    transition: none;
                }
            }


        }

        &-inner {
            position: absolute;
            left: 0;
            right: 0;
            display: none;
            padding: 2px 0;
            background-color: var(--base-color);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
        }

        &-link {
            display: block;
            height: 2.25rem;
            font-size: .8125em;
            font-weight: 900;
            color: #ffffff !important;
            line-height: 2.25rem;
            text-decoration: none;
            transition: color .2s ease-in;

            &:hover,
            &:focus {
                color: var(--brand-color) !important;
            }
        }

        &-btn {
            position: relative;
            display: block;
            height: 2.25rem;
            font-weight: 900;
            font-size: .8125em;
            color: var(--brand-color);
            line-height: 2.1875rem;
            background-color: transparent;
            transition: all .2s ease-in .4s;

            &--active {
                color: #ffffff;
                background-color: var(--brand-color);
                transition: all .2s ease-in;

                @media screen and (max-width: 1024px) {
                    color: #ffffff !important;
                    background-color: var(--brand-color) !important;
                    transition: all .2s ease-in !important;
                }
            }

            &:after {
                position: absolute;
                top: -3px;
                right: -1.125rem;
                width: 1.125rem;
                height: 2.25rem;
                line-height: 2.25rem;
                content: url(../images/arrow-nav-main.png);
            }
        }
    }
}

.navigation {
    position: fixed;
    top: 2.8125em;
    z-index: 3;
    width: 100%;

    @media screen and (max-width: 992px) {
        display: none;
    }

    &--up {
        z-index: 77;
        background-color: #ffffff;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
        transition: box-shadow .3s var(--transition-timing-function);
    }

    &__inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.125em;
        margin-bottom: 1.125em;
    }

    &__logo {

        &:hover {

            .navigation__logo-svg-path2 {
                fill: var(--base-color);
            }

            .navigation__logo-svg-path5 {
                fill: #b72226;
            }
        }

        &-svg {

            &-path2 {
                fill: #b72226;
                transition: fill .3s var(--transition-timing-function);
            }

            &-path5 {
                fill: var(--base-color);
                transition: fill .3s var(--transition-timing-function);
            }
        }
    }

    &__menu {
        display: flex;
        flex-flow: row wrap;
        max-width: 45.251em;
        margin-top: 0;
        margin-bottom: 0;
        transition: all .5s var(--transition-timing-function);

        @media screen and (max-width: 1366px) {
            max-width: 42em;
        }

        &-item {
            margin-left: .375em;
            overflow: hidden;

            @media screen and (max-width: 1366px) {
                margin-left: 0;
            }
        }

        &-link {
            position: relative;
            display: block;
            margin-right: .25rem;
            padding-left: 2.375rem;
            font-size: .75rem;
            font-weight: 700;
            color: var(--base-color);
            line-height: 2.5;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;

            @media screen and (max-width: 1366px) {
                padding-left: 2rem;
            }

            &:before {
                position: absolute;
                bottom: .75rem;
                left: 1rem;
                z-index: 0;
                display: block;
                width: .75rem;
                height: .3125rem;
                background-color: var(--brand-color);
                content: '';
                transition: all .3s var(--transition-timing-function);

                @media screen and (max-width: 1366px) {
                    left: .75rem;
                }
            }

            span {
                position: relative;
                z-index: 1;
            }

        }
    }
}

.button_popup,
.card .title,
.menu ul li a,
.text_header .title,
.yel p {
    text-transform: uppercase;
}

.menu {
    position: absolute;
    z-index: 100;
    top: 32px;
    width: 54px;
    height: 50px;
    text-align: center;
    background-color: var(--brand-color);
    transition: width .2s linear .9s, height .3s linear .5s;

    &--open {
        width: 320px;
        height: 100%;
        transition: width .2s linear, height .6s linear .2s;
    }

    @media screen and (min-width: 993px) {
        display: none;
    }

    @media screen and (max-width: 992px) and (min-width: 768px) {
        display: block;
        position: fixed;
        top: 2.75em;
    }

    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        z-index: 100;
        right: 16px;
        width: 36px;
        height: 50px;
        text-align: center;
        background-color: var(--brand-color);
        transition: width .2s linear .9s, height .3s linear .5s, right .1s linear 1s;
    }

    ul {
        padding: 0;
        text-align: center;
        height: 100%;
        opacity: 0;
        overflow: hidden;
        transition: height .1s linear 0s, opacity .5s linear .2s;
        margin-bottom: 0;

        &.black {
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: height .1s linear .5s, opacity .5s linear
        }

        li {
            list-style-type: none;
            border-top: 1px solid #6c5e0a
        }
    }

    &__bottom {
        margin-top: 0;
        padding: 2.25em 0 2.75em !important;

        &-link {
            font-size: .8125rem;

            &--entrance {

                @media screen and (max-width: 767px) {
                    position: relative !important;
                    display: inline-flex !important;
                    width: auto !important;
                }

                &:after {
                    position: absolute;
                    top: .5rem;
                    left: -1.75rem;
                    width: 1.125rem;
                    height: 1.125rem;
                    background: transparent url(../images/upload.png) no-repeat 50% 50%;

                    @media screen and (max-width: 767px) {
                        content: '';
                    }
                }
            }

            &#callBackBtnMobile {
                position: relative;
                display: inline-flex;
                align-items: center;
                color: var(--base-color) !important;
                background-color: var(--brand-color);
                width: auto;
                height: 1rem;
                padding: .1875rem .375rem .0625rem;
                line-height: 1;

                @media screen and (max-width: 767px) {
                    margin-top: .625rem;
                }

                &:after {
                    position: absolute;
                    bottom: 0;
                    right: -1.375rem;
                    z-index: 0;
                    display: block;
                    width: 1.375rem;
                    height: 1rem;
                    border-left: 2px solid var(--base-color);
                    background: #ffde15 url(../images/arrww.png) no-repeat 50% 50%;

                    @media screen and (max-width: 767px) {
                        content: '';
                    }
                }
            }
        }
    }
}

.menu ul li.logo99,
.menu ul.black li {
    border-top: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
    width: 100%;
    line-height: 3;
    display: block;
}

.menu ul li:hover {
    background-color: #000;
    transition: all .3s linear;
}

.menu ul li.logo99:hover {
    background-color: transparent;
}

.menu ul li:hover a {
    transition: all .3s linear;
    color: var(--brand-color);
    font-weight: 900;
}

.logo992 {
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0;
    transition: opacity .5s linear .5s;
}

.close_yellow {
    background-color: #000;
    width: 38px;
    height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 25px
}

.burger,
.yel {
    position: relative;
}

.menu--open .logo992 {
    opacity: 1;
    transition: opacity .3s linear 0s;
}

.black {
    padding-top: 40px;
    padding-bottom: 40px
}

.menu--open ul {
    opacity: 1;
    height: auto;
    transition: height .2s linear .2s, opacity .1s linear 1s;
}

.menu--open ul.black {
    opacity: 1;
    height: auto;
    transition: height .1s linear, opacity .5s linear 1s;
}

.yel {
    background-color: var(--brand-color);
    width: 30px;
    height: 50px;
    float: right;
    padding-top: 9px;
    margin-right: 12px;
    transition: all .5s linear .5s;
    margin-left: -35px;
}

.yel p {
    margin: 0;
    font-size: 9px;
    font-weight: 400;
    transition: all .3s linear .8s;
}

.menu--open .yel {
    margin-right: 0;
    transition: all .1s linear;
    padding-left: 0;
    background-color: #000;
}

.menu--open .yel p {
    transition: all .5s linear;
    color: transparent;
}

.burger {
    top: 4px;
    left: 0;
    height: 17px;
    z-index: 100;
    width: 22px;
    margin: 0 auto;
}

.burger:after,
.burger:before {
    position: absolute;
    left: 0;
    width: 22px;
    border-top: 2px solid #000;
    content: "";
    transition: .3s linear .6s;
}

.burger:before {
    top: 0;
    z-index: 1;
    height: 3px;
}

.burger:after {
    top: 6px;
    height: 7px;
    border-bottom: 2px solid #000;
}

.menu--open > .yel .burger:before {
    transform: rotate(225deg);
    border-top-color: var(--brand-color);
    transition: .3s linear;
}

.menu--open > .yel .burger:after {
    top: -.25rem;
    left: -.1875rem;
    border-top: 2px solid transparent;
    border-bottom-color: var(--brand-color);
    transform: rotate(315deg);
    transition: .3s linear;
}

#overlay,
.popup {
    position: fixed;
    background-color: #000;
    display: none;
}

#overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.popup {
    top: 50%;
    transform: translate(-50%, -50%);
    height: 440px;
    width: 320px;
    left: 50%;
    z-index: 999;
}

.popup_flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.popup_logo {
    height: 110px;
    background-color: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.close_popup {
    position: absolute;
    top: 0;
    right: 18px;
    width: 25px;
    height: 36px;
    background-color: #000
}

.close_popup > a > img {
    margin-left: 5px;
    margin-top: 15px;
}

.close_popup > a {
    display: block;
    height: 16px;
    width: 15px;
    margin-top: 18px;
    margin-left: 5px;
    background: url(../images/close_yellow2.png) center top -1px no-repeat;
}

.close_popup > a:hover {
    background: url(../images/close_white2.png) center top -1px no-repeat;
    height: 16px;
    width: 15px;
}

form.popup_form {
    margin: 60px 0 0;
    width: 55%;
}

form.popup_form input {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #6b6b6b;
    outline: 0;
    margin-left: 0;
    font-size: 12px;
    height: 40px;
    padding-left: 0;
}

form.popup_form > input::-webkit-input-placeholder {
    color: #fff !important;
    text-align: left;
}

form.popup_form > input::-moz-placeholder {
    color: #fff !important;
    text-align: left;
}

form.popup_form > input::-ms-input-placeholder {
    color: #fff !important;
    text-align: left;
}

#order1.done {
    height: 270px;
}

.button_popup {
    position: relative;
    z-index: 1;
    display: block;
    width: 180px;
    height: 23px;
    margin: 45px auto 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    color: var(--base-color);
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    text-decoration: none;
    outline: 0;
    background-color: var(--brand-color);
    transition: background-color .3s var(--transition-timing-function);
}

.button_popup:hover {
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color .3s var(--transition-timing-function);
}

.card .button-container button:before,
.containerp.active .card.alt .toggle:before {
    content: ''
}

.card,
.containerp.active .card.alt {
    border-radius: 5px;
    padding: 60px 0 40px
}

.containerp {
    position: relative;
    max-width: 460px;
    width: 100%;
    margin: 35px auto 100px
}

.containerp.active .card:first-child {
    background: #f2f2f2;
    margin: 0 15px
}

.containerp.active .card:nth-child(2) {
    background: #fafafa;
    margin: 0 10px
}

.containerp.active .card.alt {
    top: 20px;
    right: 0;
    width: 100%;
    min-width: 100%;
    height: auto;
    overflow: hidden
}

.containerp.active .card.alt .toggle {
    position: absolute;
    top: 40px;
    right: -70px;
    box-shadow: none;
    transform: scale(10);
    transition: transform .3s ease;
}

.containerp.active .card.alt .button-container,
.containerp.active .card.alt .input-container,
.containerp.active .card.alt .title {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: .3s ease
}

.containerp.active .card.alt .title {
    transition-delay: .3s;
}

.containerp.active .card.alt .input-container {
    transition-delay: .4s;
}

.containerp.active .card.alt .input-container:nth-child(2) {
    transition-delay: .5s;
}

.containerp.active .card.alt .input-container:nth-child(3) {
    transition-delay: .6s;
}

.containerp.active .card.alt .button-container {
    transition-delay: .7s;
}

.card {
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    transition: .3s ease;
}

.card:first-child {
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
}

.card .title {
    position: relative;
    z-index: 1;
    border-left: 5px solid #ffc302;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: #ffc302;
    font-size: 12px;
    font-weight: 600
}

.card .input-container {
    position: relative;
    margin: 0 60px 20px
}

.card .input-container input {
    outline: 0;
    z-index: 1;
    position: relative;
    background: 0 0;
    width: 100%;
    height: 45px;
    border: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 400
}

.card .input-container input:focus ~ label {
    color: #807c7c;
    transform: translate(-12%, -50%) scale(.75);
}

.card .input-container input:focus ~ .bar:after,
.card .input-container input:focus ~ .bar:before {
    width: 50%
}

.card .input-container input:valid ~ label {
    color: #807c7c;
    transform: translate(-12%, -50%) scale(.75);
}

.card .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 14px;
    font-weight: 300;
    line-height: 60px;
    transition: .2s ease;
}

.card .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
}

.card .input-container .bar:after,
.card .input-container .bar:before {
    content: '';
    position: absolute;
    background: #ffc302;
    width: 0;
    height: 2px;
    transition: .2s ease;
}

.card .input-container .bar:before {
    left: 50%
}

.card .input-container .bar:after {
    right: 50%
}

.card .button-container {
    margin: 0 60px;
    text-align: center;
}

.card .button-container button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 2px solid #e3e3e3;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    transition: .3s ease;
}

.card .button-container button span {
    position: relative;
    z-index: 1;
    color: #ddd;
    transition: .3s ease;
}

.card .button-container button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #ffc302;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    transition: .3s ease;
}

.card.alt,
.card.alt .toggle {
    width: 140px;
    height: 140px;
    border-radius: 100%;
}

.card .button-container button:active,
.card .button-container button:focus,
.card .button-container button:hover {
    border-color: #ffc302;
}

.card .button-container button:active span,
.card .button-container button:focus span,
.card .button-container button:hover span {
    color: #ffc302;
}

.card .button-container button:active span,
.card .button-container button:focus span {
    color: #fff;
}

.card .button-container button:active:before,
.card .button-container button:focus:before {
    opacity: 1;
    transform: scale(10);
}

.card .footer {
    margin: 40px 0 0;
    color: #d3d3d3;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.card .footer a {
    color: inherit;
    text-decoration: none;
    transition: .3s ease;
}

.card .footer a:hover {
    color: #bababa;
}

.card.alt {
    position: absolute;
    top: 40px;
    right: -70px;
    z-index: 10;
    background: 0 0;
    box-shadow: none;
    padding: 0;
    transition: .3s ease;
}

.card.alt .toggle {
    position: relative;
    background: #ffc302;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    color: #fff;
    font-size: 58px;
    line-height: 140px;
    text-align: center;
    cursor: pointer;
}

.card.alt .toggle:before {
    content: '\f040';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.card.alt .button-container,
.card.alt .input-container,
.card.alt .title {
    left: 100px;
    opacity: 0;
    visibility: hidden;
}

.card.alt .title {
    position: relative;
    border-color: #fff;
    color: #fff;
}

.card.alt .title .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 60px;
    display: inline;
    color: #fff;
    font-size: 58px;
    font-weight: 400;
}

.card.alt .button-container button:active:before,
.card.alt .button-container button:focus:before,
.previewImage {
    display: none;
}

.card.alt .title .close:before {
    content: '\00d7';
}

.card.alt .input-container input,
.card.alt .input-container input:focus ~ label {
    color: #fff;
}

.card.alt .input-container input:focus ~ .bar:after,
.card.alt .input-container input:focus ~ .bar:before {
    background: #fff;
}

.card.alt .input-container input:valid ~ label {
    color: #fff;
}

.card.alt .input-container label {
    color: rgba(255, 255, 255, .8);
}

.card.alt .input-container .bar {
    background: rgba(255, 255, 255, .8);
}

.card.alt .button-container button {
    width: 100%;
    background: #fff;
    border-color: #fff;
}

.card.alt .button-container button span {
    color: #ffc302;
}

.card.alt .button-container button:hover {
    background: rgba(255, 255, 255, .9);
}

.navigation__menu li:hover > a:before {
    width: 95%;
}

.navigation__menu li.active > a:before {
    width: 100%;
}

.lang-link-wrap {
    opacity: 0;
    transition: opacity .3s var(--transition-timing-function);
}

.menu--open .lang-link-wrap {
    opacity: 1;
    transition: opacity .3s var(--transition-timing-function) 1s;
}

.lang-link {
    display: inline-block;
    margin: 15px 0;
    padding: 2px 5px;
    font-weight: 700;
    font-size: 12px;
    color: var(--brand-color);
    text-decoration: none;
    background-color: var(--base-color);
}

@media screen and (max-device-width: 959px) and (min-device-width: 768px) and (orientation: landscape) {

    .menu.menu--open {
        height: 100% !important
    }

    .menu.menu--open ul {
        overflow-y: scroll;
        height: 92%;
    }
}

@media all and (max-width: 767px) {

    .popup {
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        left: 50%;
        background-color: #000;
    }

    .popup form {
        margin-left: 0;
    }

    .button_popup {
        margin-top: 23vh;
    }

    .menu ul {
        padding: 0;
        text-align: center;
        height: auto;
        pointer-events: none;
    }

    .burger {
        top: 18px;
        left: 4px;
    }

    .menu--open .burger {
        top: 18px;
        left: 1px;
        transition: left .2s linear .1s;
    }

    .menu--open {
        width: 100%;
        height: 100%;
        transition: width .2s linear, height .6s linear .2s;
        right: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .menu--open .yel {
        position: absolute;
        right: 0;
        width: 36px;
        margin-right: 0;
        padding-left: 0;
        background-color: #000;
        transition: all .1s linear;
    }

    .black {
        background-color: #000;
    }

    .black li a {
        color: var(--brand-color) !important;
        text-decoration: none;
        font-weight: 700;
        font-size: 11px;
        position: relative;
        display: inline;
    }

    #overlay {
        z-index: 0;
    }

    .menu--open ul {
        pointer-events: all;
    }

    .yel p {
        display: none;
    }

    .burger:after,
    .burger:before {
        content: "";
        border-top: 2px solid #000;
        width: 20px;
        position: absolute;
        left: 0;
        transition: .5s linear 1s;
    }

    .yel {
        width: 20px;
    }

    .burger:after {
        top: 6px;
        height: 8px;
        border-bottom: 2px solid #000;
    }

    .burger:before {
        top: 0;
        z-index: 1;
        height: 3px;
    }

    .menu .yel {
        transition: none;
    }

    .menu--open .yel {
        right: 31px;
        margin-right: 0;
        transition: none;
    }
}
