.bug-tracker-toolbar {
    height: 16px;
    width:20px;
    background-image:url(icon.png);
    right: 3px;
    position: fixed;
    top: 3px;
    z-index: 65535;
    cursor: pointer;
    opacity: 0.5;
}

.bug-tracker-toolbar:hover {
    opacity: 1;
}

.bug-tracker-selecter {
    position: absolute;
    border: 2px #0055aa dashed;
    display: none;
    z-index: 99999;
}
.bug-tracker-selecter div {
    background: #0088cc;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.bug-tracker-comment {
    background: #ffffff;
    position: absolute;
    display: none;
    z-index: 99999;
    padding: 1px;
    border: #4d4d4d 1px solid;
    cursor: default;
    display: none;
}

.bug-tracker-comment textarea {
    width: 100%;
    resize: none;
}

.bug-tracker-overlay {
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: fixed;
    z-index: 9999;
    cursor: crosshair;
    background-image:url(overlay.png);
    opacity: 0.02;
    display: none;
}