.container {
    width: 100%;
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;

    &--footer {
        max-width: 66.375em;

        @media all and (max-width: 1366px) {
            max-width: 59.8125em;
        }

        @media screen and (max-width: 767px) {
            padding-left: 1.75em;
            padding-right: 1.75em;
        }
    }

    &--header {
        max-width: 66.375em;

        @media all and (max-width: 1366px) {
            max-width: 59.8125em;
        }
    }

    &--banner {
        max-width: 81.70625em;
        padding-left: 0;
        padding-right: 0;
    }

    &--content {
        max-width: 53.125em;
    }
}
