.footer {

    &__data {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 1em;
        padding-top: 2.625em;

        @media screen and (max-width: 767px) {
            flex-flow: column nowrap;
            margin-bottom: 0;
        }

        &-item {
            width: calc(50% - 3em);

            &:last-child {

                @media screen and (max-width: 767px) {
                    margin-bottom: 0;
                }
            }

            @media screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 3em;
            }
        }

        &-title {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 700;
            color: #333333;
            text-decoration: none;

            @media screen and (max-width: 767px) {
                margin-bottom: .85714286em;
            }
        }

        &-text {
            font-size: 12px;
            color: #060606;
            text-align: justify;

            @media screen and (max-width: 767px) {
                text-align: left;
            }
        }

        &-gallery {
            position: relative;
            padding-left: 2em;
            padding-right: 2em;
        }

        &-link {
            display: block;
            padding: 1em;
        }

        &-img {
            max-width: 100%;
            height: auto;
        }

        &-arrow {
            position: absolute;
            top: 50%;
            margin-top: -1em;
            width: 2em;
            height: 2em;
            cursor: pointer;

            &_prev {
                left: 0;
                background: url(../images/icon-arrow-prev.svg) no-repeat 50% 50%;
            }

            &_next {
                right: 0;
                background: url(../images/icon-arrow-next.svg) no-repeat 50% 50%;
            }
        }
    }
}
