.item-view {
    border: 1px solid #DDDDDD;
    padding: 8px;
    margin-bottom: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.item-view3 {
    width: 282px;
    float: left;
    margin-left: 20px;
    min-height: 60px;
}

.nomargin {
    margin: 0 !important;
}
.margin20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nomargin_bottom {
    margin-bottom: 0 !important;
}

.nomargin_left {
    margin-left: 0 !important;
}

.fill {
    width: 100% !important;
}

.grid-view-loading
{
    background:url(../img/loading.gif) no-repeat;
}

.grid-view th a.asc
{
    background:url(../img/up.gif) right center no-repeat;
    padding-right: 10px;
}

.grid-view th a.desc
{
    background:url(../img/down.gif) right center no-repeat;
    padding-right: 10px;
}

fieldset legend {
    margin-bottom: 0px;
}

.CodeMirror {
    width: 680px;
}

.table .current-row td {
    background: #C9E0ED !important;
}

div.error label,
label.error,
span.error,
span.errorMessage
{
    color: #B94A48;
}

.ui-widget input {
    width: 32px;
}
.el-paddinginput select {
    width: 42px;
}
.el-dialogform-content input {
    padding: 0 !important;
    border-radius:0 !important;
}
.el-dialogform-content select {
    height: 20px;
    line-height: 20px;
    margin-bottom: 0;
    border-radius:0 !important;
}
.el-dialogform-content legend {
    width: auto;
}

.sticked {
    background: #ffffff;
    border-bottom:1px solid #EEE;
    z-index: 999;
}

.radio.inline,
.checkbox.inline {
    white-space: nowrap;
}

.row .nav-pills {
    margin-bottom: 5px;
}

.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}

.errorMessage {
    color: #b94a48;
}

.form input.error, .form select.error, .form textarea.error {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.redactor_editor{
    max-height: 500px;
}
.redactor_editor blockquote{
    color: #333333 !important;
    font-style: normal !important;
}
.redactor_editor blockquote{
    margin-left: 30px !important;
}

.grid-view table.items th {
    color: #000000;
    background: #a9a9a9;
    text-align: left;
}

.grid-view table.items th a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.grid-view table.items th,
.grid-view table.items td {
    font-size: 1em;
    border: 1px solid #dddddd;
    padding: 8px 16px;
}

.grid-view table.items th:first-child {
    width: 15px;
}

.grid-view table.items tr.odd {
    background: #ffffff;
}

.grid-view table.items tbody tr:hover {
    background: #f3f3f3;
}

.grid-view .summary {
    margin: 0 0 5px 0;
    text-align: left;
}

.grid-view .button-column a {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    margin-left: .375em;
    margin-right: .375em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../img/glyphicons-halflings.png);
    background-repeat: no-repeat;
}

.grid-view .button-column .update {
    background-position: 0 -72px;
}

.grid-view .button-column .delete {
    background-position: -456px 0;
}

.grid-view .button-column img {
    display: none;
}

.btn-new {
    display: inline-block;
    height: 44px;
    padding: 10px 25px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    line-height: 1.42857143;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border-radius: 0;
    background-color: #cccccc;
    transition: all .3s ease;
}

.btn-green {
    border: 1px solid #5cb85c;
    background-color: #5cb85c;
}

.btn-blue {
    border: 1px solid #289dd7;
    background-color: #289dd7;
}

.btn-red {
    border: 1px solid #e45e63;
    background-color: #e45e63;
}

.btn-new:hover,
.btn-new:focus {
    border: 1px solid #bebebe;
    color: #ffffff;
    text-decoration: none;
    background-color: #bebebe;
    outline: none;
}

.btn-green:focus,
.btn-green:hover {
    border: 1px solid #509f50;
    background-color: #509f50;
}

.btn-blue:focus,
.btn-blue:hover {
    border: 1px solid #298ac3;
    background-color: #298ac3;
}

.btn-red:focus,
.btn-red:hover {
    border: 1px solid #d4343a;
    background-color: #d4343a;
}

.input-xxxlarge {
    width: 100%;
    height: 38px !important;
    box-sizing: border-box;
}

.input-label {
    width: calc(100% + 12px);
    height: 30px !important;
    margin-bottom: 0 !important;
    margin-left: -6px;
    margin-right: -6px;
    border: none !important;
    color: #333333 !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    transition: background-color .3s ease !important;
}

.input-label:hover,
.input-label:focus {
    background-color: #cccccc !important;
}

.input-title {
    font-weight: bold !important;
}

.input-notice {
    padding-left: 14px !important;
    font-size: 13px !important;
    font-style: italic !important;
}

textarea.input-xxxlarge {
    width: 100%;
    height: auto !important;
    box-sizing: border-box;
}

.landing-text-form {
    margin-bottom: 20px;
    padding: 10px 15px 15px;
    background-color: #dddddd;
}
.landing-text-form-empty {
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
}

.landing-text-form form {
    margin-bottom: 0;
}

.span1-landing {
    width: 135px;
}

.span12-landing {
    width: 910px;
}

.span6-landing {
    width: 445px;
}

.span12-title,
.span12-notice {
    position: relative;
}

.notice-marker {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 13px;
    color: #333333;
}

.title-id {
    position: absolute;
    top: 5px;
    left: 0;
    font-weight: bold;
    color: #333333;
}

#text {
    margin-top: 5px;
}

.with-delimiter {
    position: relative;
}

.size-delimiter {
    position: absolute;
    top: -1px;
    left: 138px;
    font-size: 11px;
    font-style: italic;
}

.gallery-window-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
}

.gallery-window-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 0;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
    box-shadow: -4px 0 8px rgba(0, 0, 0, .35);
    transition: width .8s cubic-bezier(.21, .46, .46, .76);
}

.gallery-window {
    width: 940px;
    max-height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden auto;
    background-color: #ffffff;
    box-shadow: -4px 0 8px rgba(0, 0, 0, .35);
}

.gallery-window-inner {
    padding: 20px;
}

.gallery-window-inner h3 {
    margin-top: 0;
}

.landing_gallery_item {
    width: 856px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #dddddd;
}

.landing_gallery_item_empty {
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
}

.landing_gallery_item form {
    margin-bottom: 0;
}

.landing_gallery_item .span6 {
    width: 416px;
}

.landing_gallery_item label {
    display: flex;
    align-items: baseline;
}

.landing_gallery_item label input[type="checkbox"] {
    margin-right: 5px;
}

.file-input-pic {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    padding: 4px;
    border: 1px solid #333333;
    background-color: #ffffff;
}

.file-input-pic img {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}


